<app-header></app-header>


<div class="container-fluid body-margin-top ">
    <div class="row">
        <div class="col-12 ">
            <div class="bg-white rounded rounded-bottom-0">
                <app-board-title></app-board-title>
            </div>
        </div>
        <div class="col-12 ">
            <div class="bg-white rounded rounded-top-0">
                <app-board-view (newItemEvent)="reload($event)"></app-board-view>
            </div>
        </div>
    </div>
</div>

<div *ngIf="board == 'table'">
    <app-table [changeParams]="queryParams"></app-table>
</div>

<div *ngIf="board == 'chart'">
    <app-chartjs></app-chartjs>
</div>


<div *ngIf="board == 'calendar'">
   <app-board-timeline></app-board-timeline>
</div>