<div class="modal-body">
    <div class="row">
        <div class="col-10">
            <div class="modal-title"><b>Custom Fields Form</b></div>
        </div>
        <div class="col-2 text-end">
            <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
        </div>
    </div>
    <div>
        <div class="tables-body " style="height: 90vh;">
            <div class="sticky-top  bg-white">
                <div class="container mt-5 ">
                    <div class="row g-1 ">
                        <div class="col-2 border-bottom">
                            <strong>TYPE OF FIELD</strong>
                        </div>
                        <div class="col-10 border-bottom">
                            <div class="mx-2 ">
                                <strong>FIELDS for <img src="./assets/icon/formula-30.png"  class="icon"></strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container sortable pb-2">
                <div class="row g-1 border-bottom py-1" *ngFor="let x of customFieldForm ; let i = index">

                    <div class="col-2 align-self-center">

                        <span class="mx-2" *ngIf="x.iType == 'text'"><i class="bi bi-textarea-t"></i></span>
                        <span class="mx-2" *ngIf="x.iType == 'number'"><i class="bi bi-123"></i></span>
                        <span class="mx-2" *ngIf="x.iType == 'select'"><i class="bi bi-menu-button"></i></span>
                        <span class="mx-2" *ngIf="x.iType == 'date'"><i class="bi bi-calendar3"></i></span>
                        <span class="mx-2" *ngIf="x.iType == 'time'"> <i class="bi bi-clock"></i> </span>
                        <span class="mx-2" *ngIf="x.iType == 'note'"> <i class="bi bi-journal-text"></i> </span>
                        <span class="mx-2" *ngIf="x.iType == 'formula'"> <img src="./assets/icon/formula-30.png"
                                class="icon"> </span>
                        <span class="mx-2" *ngIf="x.iType == 'url'"> <i class="bi bi-link-45deg"></i> </span>
                        <span class="mx-2" *ngIf="x.iType == 'image'"> <i class="bi bi-images"></i> </span>
                        <span class="mx-2" *ngIf="x.iType == 'user'"> <i class="bi bi-person-circle"></i> </span>

                        <small> {{x.iType | uppercase}}</small>

                    </div>
                    <div class="col-1">
                        <div class="form-control rounded-0"><b> $f{{x.f}} </b></div>
                    </div>

                    <div class="col-8 ">

                        <div class="d-flex">


                            <div class="resizable" data-id="{{x.id}}" [ngStyle]="{'width': x.width+'px'}">
                                <input type="text" [(ngModel)]="x.name" class="form-control rounded-0 "
                                    (change)="onUpdateCustomField(x)" #updateCustomField
                                    (keyup.enter)="updateCustomField.blur()">
                            </div>
                            <div class="mx-1" *ngIf="x.iType == 'formula'" [ngbTooltip]="tipContent">
                                <button type="button" class="btn btn-light border " (click)="fnShowFormulaDev(x,i);">
                                    <img src="./assets/icon/formula-30.png" class="icon">
                                    {{x.eval != "" ? x.eval : "Edit Formula"}}
                                </button>
                            </div>
                            <div class="mx-1" *ngIf="x.iType == 'number'"> <input type="text" [(ngModel)]="x.suffix"
                                    class="form-control" style="width: 50px;" (change)="onUpdateCustomField(x)"
                                    maxlength="3" #updateCustomFieldSuffix placeholder="%"
                                    (keyup.enter)="updateCustomFieldSuffix.blur()">
                            </div>

                        </div>

                        <div class="my-2" *ngIf="x.showEvalDev == true">
                            <div class="row g-1">
                                <div class="col-9">
                                    <textarea type="text"
                                        class="form-control form-control-sm rounded-0 bg-light font-monospace"
                                        [(ngModel)]="x.evalDev"></textarea>
                                </div>
                                <div class="col-3">
                                    <div class="row g-1">
                                        <div class="col-6 d-grid">
                                            <button type="button" class="btn btn-sm btn-primary"
                                                (click)="evalDevCheck(x, i);">Submit</button>
                                        </div>
                                        <div class="col-6 d-grid">
                                            <button type="button" class="btn btn-sm btn-light"
                                                (click)="x.showEvalDev =false">Cancel</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-1 text-end">
                        <div class="d-flex">
                            <div class="mx-1">
                                <button type="button" class="btn btn-sm btn-danger" *ngIf="x.ilock == '0'"
                                    (click)="removeCustomeField(x);"><i class="bi bi-trash3"></i></button>

                                <button type="button" class="btn btn-sm btn-light" disabled *ngIf="x.ilock == '1'"><i
                                        class="bi bi-lock-fill"></i></button>
                            </div>
                            <div class="py-1 handle mx-1" data-id="{{x.id}}"> <i class="bi bi-list"></i> </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sticky-bottom">
                <div class="container bg-white">

                    <div class="row g-2 py-2">
                        <div class="col-2">
                            <select class="form-control" [(ngModel)]="newCustomField.iType">
                                <option value="number">Number</option>
                                <option value="text">Text</option>
                                <option value="select">Select</option>
                                <option value="date">Date</option>
                                <option value="time">Time</option>
                                <option value="url">Url</option>
                                <option value="note">Note</option>
                                <option value="image">Image</option>
                                <option value="formula">Formula</option>
                                <option value="user">User</option>

                            </select>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" [(ngModel)]="newCustomField.name">
                        </div>
                        <div class="col-2 d-grid">
                            <button type="button" (click)="addCustomField()" [disabled]="newCustomField.name==''"
                                class="btn btn-primary btn-sm">Add</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>

<ng-template #tipContent>
    <small>
        You can use formulas in the PHP style, such as
        <a href="https://www.w3schools.com/php/php_operators.asp" class="text-primary" target="_blank">Arithmetic
            Operators</a> and Ternary Operator.
        <hr class="py-1 my-1">
        Example 1 : Simple Arithmetic <br>
        <span class="p-1 font-monospace"> $f1 * ($f2/100) </span>
        <hr class="py-1 my-1">
        Example 2 : Ternary Operator <br>
        <span class="p-1 font-monospace">( $f1 * ($f2/100) ) < 50 ? ( $f1 * ($f2/100) )."% is Low" : ( $f1 * ($f2/100)
                )."% is high"</span>
                <hr class="py-1 my-1">
                Example 3 : Concat text or number<br>
                <span class="p-1 font-monospace">"halo" . "world"</span>
                <br>
    </small>
</ng-template>