<div class="container-fluid ">
    <div class="row">
        <div class="col-md-3 col-lg-2 col-4 bg-light fullScreenHeight ">

            <app-left-side-profile></app-left-side-profile>
        </div>
        <div class="col-md-9 col-lg-10 col-8 bg-white fullScreenHeight">
            <div class="m-4">
                <div class="mb-4">
                    <div class="row g-1">
                        <div class="col-4">
                            <h4>  Managements  </h4>
                        </div>

                        <div class="col-6"> 
                            <input type="text" class="form-control" placeholder="Search by name or email" [(ngModel)]="keyword"
                            (ngModelChange)="onSearchChange()">
                        </div>

                        <div class="col-2">
                            <button type="button" class="btn btn-primary" (click)="open()">Invite Member</button>
                        </div>
                    </div>
                </div>



                <div class="content-md">
                    <div class="mb-4">
                        <div class="row"> 
                            <div class="col text-center border-end">
                                <h1>{{filterTeams.length}}</h1>Members
                            </div>
                            <div class="col text-center">
                                <h1>0</h1>Pending invites
                            </div>
                        </div>
                    </div>
                    <table class="table  ">
                        <thead>
                            <tr>
                                <td>#</td>
                                <td>Name</td>
                                <td>username</td>
                                <td>Last Activity</td>
                                <td>Join Date</td> 
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let x of filterTeams; let i = index;">
                                <td>
                                    <div class="py-2"> {{i+1}}</div>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <div>
                                            <img [src]="x.picture" width="35" class="rounded-circle">
                                        </div>
                                        <div class="align-self-center mx-2 lh-sm">
                                            <div>
                                                <a [routerLink]="[ '/profile/user/', x.id ]" class=" text-primary">{{x.name | titlecase}}</a>
                                            </div>
                                            <div>
                                                <small>{{x.email}}</small>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="py-2">
                                        {{x.username}}
                                    </div>
                                </td>
                                <td>
                                    <div class="py-2">
                                        {{x.input_date | date:'medium'}}
                                    </div>
                                </td>
                                <td>
                                    <div class="py-2">
                                        {{x.input_date | date:'medium'}}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                   
                </div>
            </div>

        </div>
    </div>
</div>