<app-header></app-header>
<div class="body-margin-top">

    <div class="container-fluid">
        <div class="row g-2">
            <div class="col-md-2 col-12">
                <div class="bg-white rounded minHeight">
                    <div class="p-3">
                        <h5><i class="bi bi-folder me-2"></i> My Book</h5>
                        <div>
                            Books your Workspace
                        </div>
                    </div>
                    <div class="p-2 mx-2" *ngFor="let x of books">
                        <div class="row g-1">
                            <div class="col-11">
                                {{x.name}}
                            </div>
                            <div class="col-1">
                                <i class="bi bi-three-dots"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-12">
                <div class="bg-white rounded p-3 minHeight">
                    <div class="mb-3">
                        <h5><i class="bi bi-star-fill me-2 text-warning"></i> Favorit Boards</h5>
                        <div>
                            Quickly access your Favorit boards
                        </div>
                    </div>

                    <div class="row g-3">

                        <div class="col-md-6  col-lg-4 col-6 pointer" *ngFor="let x of journals" (click)="goTo(x);" >
                            <div class="border p-2 bg-white rounded homeBoards">
                                <img src="https://picsum.photos/id/{{fnSlice(x.id)}}/300/200" width="100%" class="rounded">
                                <div class="py-2">
                                    <div class="py-1">
                                        <b><i class="bi bi-folder me-1" *ngIf="x.owner == '1'"></i> 
                                            <i class="bi bi-share me-1" *ngIf="x.owner != '1'"></i> 
                                            {{x.book}}</b>
                                    </div>
                                    <div class="lh-sm "> 
                                        <small>{{x.journal}}</small>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <p>home works!</p>
                            {{time}}
                            {{time | date}}
                            <br>
                            {{date}}<br>
                            {{now}} 
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-3 col-12">
                <div class="bg-white rounded p-3">
                    <div class="mb-3">
                        <h5><i class="bi bi-people me-2"></i> Collaborating</h5>
                        <div>
                            Your team mates and start collaborating
                        </div>
                    </div>
                    <div class="row  mb-3">
                        <div class="col-12">
                            <input type="text" class="form-control" placeholder="Search by name or email" [(ngModel)]="keyword"
                            (ngModelChange)="onSearchChange()">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4">
                            Total : {{this.teams.length}}
                        </div>
                        <div class="col-8 text-end">
                            <button type="button" class="btn btn-sm btn-success"><i class="bi bi-plus-lg"></i> Invite
                                New Team</button>
                        </div>
                    </div>
                    <div class="row pointer py-2 divHover" *ngFor="let x of filterTeams">

                        <div class="col-10">
                            <div class="d-flex pointer">
                                <div>
                                    <img [src]="x.picture" width="35" class="rounded-circle me-2">
                                </div>
                                <div class="lh-sm">
                                    <div>{{x.name}}</div>
                                    <div>
                                        <small>{{x.email}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 text-end align-self-center">
                           

                            <div ngbDropdown class="d-inline-block">
                                <a  id="dropdownForm1" ngbDropdownToggle> &nbsp; </a>
                                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                                    <button ngbDropdownItem>Remove</button>
                                    <button ngbDropdownItem>Disable</button> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

 
</div>