<div class="container-fluid body-margin-top">
    <div class="row g-1">
      <div class="col-12">
        <h1>cdk-virtual-scroll-viewport</h1>
        <div class="header">
          <div class="sticky-top">Header Kolom (scroll X)</div>
        </div>
        
        <cdk-virtual-scroll-viewport itemSize="30" class="virtual-viewport">
          <div class="row" *cdkVirtualFor="let row of rows; let i = index">
            <div class="sticky-left">Header Baris (scroll Y)</div>
            <div class="cell" *ngFor="let cell of row.split(','); let j = index">{{ cell }}
              <div class="delete-button" (click)="removeRow(i)">Hapus</div>

            </div>
           
          </div>
        </cdk-virtual-scroll-viewport>
      </div>
       
        <div class="col-lg-12 col-12">
            <div>
                <h2>Paste Gambar ke Halaman dan Konversi ke Base64</h2> 
                <input #imageInput style="position: absolute; left: -1000px;" type="text">
                
                <div *ngIf="clipboardImage">
                  <h3>Gambar yang Di-Paste:</h3>
                  <img [src]="clipboardImage" alt="Pasted Image">
                </div>
              </div>
        </div>

    </div>
</div>