

.wrapper{
    display: block;
}
.wrapper .wrapper-child{
   
    display: inline-block;
}
@media only screen and (max-width: 600px) {
    .wrapper .wrapper-child{
        
        display: block;
        width: 100% !important;
    }
}

