<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="sticky-header">
        <div class="row header-row">
          <div class="col header-cell" *ngFor="let header of headers">{{ header }}</div>
        </div>
      </div>
      <div class="data-container" (scroll)="onScroll($event)">
        <div class="row data-row" *ngFor="let row of data">
          <div class="col data-cell" *ngFor="let cell of row">{{ cell }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
