<app-header></app-header>

<div class="popup-floating-top" [hidden]="!tools">
    <div class="border bg-white popup-floating-top-content shadow rounded p-3">
        <div class="d-flex">

            <div class="me-2">
                <a class="btn btn-sm btn-light px-2" (click)="actionTask('duplicate')">
                    <h5 class="bi bi-files p-0 m-0"></h5>
                    <small> Duplicate</small>
                </a>
            </div>

            <div class="me-2">
                <a class="btn btn-sm btn-light px-2" (click)="actionTask('delete')">
                    <h5 class="bi bi-trash  p-0 m-0"></h5>
                    <small>Delete</small>
                </a>
            </div>
            <div class="mx-1 ">
                &nbsp;
            </div>
            <div class="me-2">
                <a class="btn btn-sm btn-light px-2" (click)="actionTask('lock')">
                    <h5 class="bi bi-lock  p-0 m-0"></h5>
                    <small>Lock</small>
                </a>
            </div>

            <div class="me-2">
                <a class="btn btn-sm btn-light px-2" (click)="actionTask('unlock')">
                    <h5 class="bi bi-unlock  p-0 m-0"></h5>
                    <small>Unlock</small>
                </a>
            </div>
            <div class="mx-1 ">
                &nbsp;
            </div>
            <div class="me-2">
                <a class="btn btn-sm btn-light px-2" (click)="actionTask('archives')">
                    <h5 class="bi bi-archive  p-0 m-0"></h5>
                    <small>Archives</small>
                </a>
            </div>

        </div>
    </div>
</div>

<div class="popup-bottom" *ngIf="showWarning">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="alert alert-warning border rounded shadow">
                  
                    <div class="d-flex">
                        <div class="p-2 w-100"><span [innerHTML]="noteWarning"></span></div>
                        <div class="p-2 flex-shrink-1">
                            <a href="javascript:;" (click)="showWarning=false"><i class="bi bi-x-lg"></i></a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid body-margin-top">

    <div class="row g-1">
        <div class="col-lg-2 col-md-3 col-12" *ngIf="templateCode=='journalFXTrading'">
            <div class="bg-white rounded " >
                <div *ngIf="childDetail">
                    <app-widget-table-summary [startBalance]="startBalance" [detail]="childDetail"></app-widget-table-summary>
                </div>
            </div>
        </div>

        <div class="col-lg-10 col-md-9 col-12">
            <div class="bg-white rounded" style="border-left: 5px solid rgb(114, 194, 254);">

                <div class="px-3 py-2">

                    <div class="row g-0">
                        <div class="col-12">
                            <app-board-title></app-board-title>
                        </div>
                    </div>


                    <div class="row mb-2"> 

                        <div class="col-12 ">
                            <app-board-view (newItemEvent)="reload($event)"></app-board-view>
                        </div>

                        <div class="col-11">
                            <div class="d-flex">

                                <div class="me-2">
                                    <button type="button" (click)="addTask()" class="btn btn-sm btn-primary">Add Row</button>
                                </div>

                                

                                <div class="me-2">
                                    <input type="text" class="form-control form-control-sm" [disabled]="!startUpTable"
                                        [placeholder]=" startUpTable ? 'Search' : 'loading'" [(ngModel)]="keyword"
                                        (ngModelChange)="onSearchChange()">
                                </div>

                                <!-- Hide -->
                                <div class="me-2">
                                    <div ngbDropdown class="d-inline-block" container="body">
                                        <button type="button" class="btn btn-sm btn-light" id="dropdownFormHide"
                                            ngbDropdownToggle>
                                            <i class="bi bi-eye-slash"></i> Hide
                                        </button>
                                        <div ngbDropdownMenu aria-labelledby="dropdownFormHide" style="width: 240px;">
                                            <div class="px-3 py-2">
                                                <div *ngFor="let x of customField; let i = index"
                                                    class="border-bottom py-1">
                                                    <div class="row g-1">
                                                        <div class="col-10"
                                                            [ngClass]="{'text-gray': x.hide==1 ? true :false}">
                                                            {{x.name}}
                                                        </div>
                                                        <div class="col-2 text-end">
                                                            <span *ngIf="x.hide==1" (click)="fnHide(1,i,x);">
                                                                <i class="bi bi-square"></i>
                                                            </span>
                                                            <span *ngIf="x.hide!=1" (click)="fnHide(0,i,x);">
                                                                <i class="bi bi-check-square-fill text-dark"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Filter -->
                                <div class="me-2" *ngIf="filterSelect.length > 0">
                                    <div ngbDropdown class="d-inline-block" container="body">
                                        <button type="button" class="btn btn-sm btn-light" id="dropdownFormHide"
                                            ngbDropdownToggle>
                                            <i class="bi bi-funnel"></i> Filter
                                        </button>
                                        <div ngbDropdownMenu aria-labelledby="dropdownFormHide" style="width: 250px;">
                                            <div class="px-3">
                                                <div *ngFor="let x of filterSelect; let i = index" class="mb-2">
                                                    <div>
                                                        <div>
                                                            <small>{{x.name}}</small>
                                                        </div>
                                                        <div>
                                                            <select class="form-control" [(ngModel)]="x.selectId">
                                                                <option value="">- All -</option>
                                                                <option [value]="s.id" *ngFor="let s of x.select">
                                                                    {{s.value}} </option>
                                                            </select>
                                                            <!-- {{x.select | json}} -->
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="d-grid my-3">
                                                    <button type="button" ngbDropdownItem
                                                        class="btn bg-dark text-white py-2"
                                                        (click)="updateFilter();">Update filter</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="me-2">
                                    <div ngbDropdown class="d-inline-block" container="body">
                                        <button type="button" class="btn btn-sm btn-light" id="dropdownFormHide"
                                            ngbDropdownToggle>
                                            <i class="bi bi-gear"></i> Setting
                                        </button>
                                        <div ngbDropdownMenu aria-labelledby="dropdownFormHide" style="width: 200px;">
                                            <div class="px-3 py-2">
                                                <div class="d-grid mb-2">
                                                    <button type="button" (click)="jqueryResizable()" ngbDropdownItem
                                                        class="btn btn-sm btn-{{resizableStatus ? 'dark':'light' }}">
                                                        <i class="bi bi-aspect-ratio"></i> Resizable {{resizableStatus ?
                                                        'ON':'OFF'}}
                                                    </button>
                                                </div>
                                                <div class="d-grid mb-2" *ngIf="journalAccess.owner == '1' ">
                                                    <a href="javascript:;" class="btn btn-sm btn-light"
                                                        placement="top-right" ngbDropdownItem
                                                        (click)="openComponent('CustomFieldFormComponent')"
                                                        (newItemEvent)="onChild($event)" ngbTooltip="Custom Field">
                                                        <i class="bi bi-ui-checks"></i> Custom Fields
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="me-2" *ngIf="resizableStatus">
                                    <button type="button" (click)="jqueryResizable()"
                                        class="btn btn-sm btn-{{resizableStatus ? 'dark':'light' }}">
                                        <i class="bi bi-aspect-ratio"></i> Finish Resizable
                                    </button>
                                </div>

                                <div class="me-2">
                                    <div ngbDropdown class="d-inline-block" container="body">
                                        <button type="button" class="btn btn-sm btn-light" id="dropdownFormHide"
                                            ngbDropdownToggle>
                                            <i class="bi bi-filetype-csv"></i> CSV
                                        </button>
                                        <div ngbDropdownMenu aria-labelledby="dropdownFormHide" style="width: 200px;">
                                            <div class="px-3 py-2">
                                                <div class="d-grid mb-2">
                                                    <a class="btn btn-sm btn-light" (click)="requestToken();"
                                                        target="_blank">
                                                        <i class="bi bi-cloud-download"></i> Export CSV
                                                    </a>
                                                </div>
                                                <!-- <div class="d-grid mb-2">
                                                    <button type="button" class="btn btn-sm  btn-light"
                                                        (click)="modalUploadData()">
                                                        <i class="bi bi-cloud-upload"></i> Upload CSV
                                                    </button>
                                                </div> -->

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="me-2">
                                    <div ngbDropdown class="d-inline-block" container="body">
                                        <button type="button" class="btn btn-sm btn-light" id="dropdownFormHide"
                                            ngbDropdownToggle> <i class="bi bi-info-lg"></i> Info
                                        </button>
                                        <div ngbDropdownMenu aria-labelledby="dropdownFormHide" style="width: 300px;">
                                            <div class="px-3 py-2">
                                                <div class="row">

                                                    <div
                                                        class="col-4 text-center border border-top-0 border-bottom-0 border-start-0">
                                                        <h3>{{detail.length | number}}</h3>
                                                        <small><i class="bi bi-list-columns-reverse"></i> Data</small>
                                                    </div>
                                                    <div
                                                        class="col-4 text-center border border-top-0 border-bottom-0 border-start-0">
                                                        <h3>{{detail.length + archives | number}}</h3>
                                                        <small><i class="bi bi-database-check"></i> Total</small>
                                                    </div>
                                                    <div class="col-4 text-center   ">
                                                        <h3> {{archives | number }}</h3>
                                                        <small><i class="bi bi-archive"></i> Archived</small>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="me-2">
                                    <div class="btn btn-sm btn-info text-white">
                                        {{template}}
                                    </div>
                                </div>
                                <div class="me-2" *ngIf="loading">
                                    <img src="./assets/gif/sm-loading.gif" width="20">
                                </div>
                            </div>
                        </div>
                        <div class="col-1 text-end">
                            <div>
                                <a class="btn btn-sm btn-light"
                                    [routerLink]="[ '/board/tablePrintable/', id, journalTableViewId ]" target="_blank">
                                    <i class="bi bi-printer"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="text-center my-5" *ngIf="!startUpTable">
                    <img src="./assets/gif/loading-board.gif" class="w-100" style="max-width: 200px;">
                </div>

                <div class="ps-3 pt-0">

                    <div class="" *ngIf="startUpTable">
                        <div style="" class="border-start fix-header" [ngClass]="{'border-bottom': detail.length <= 0}">
                            <div class=" isScollX bg-white" style="position: absolute; ">

                                <div class="d-flex tables-header-td ">
                                    <div class="floating-div bg-white ">
                                        <div class="py-1 px-3">
                                            <i class="bi bi-check-square-fill text-primary" *ngIf="isCheckBoxAll"
                                                (click)="checkBoxAll(false)"></i>
                                            <i class="bi bi-square" *ngIf="!isCheckBoxAll"
                                                (click)="checkBoxAll(true)"></i>
                                            <span class="px-1 text-end  d-inline-block" style="min-width: 30px;"> #
                                            </span>
                                        </div>
                                    </div>

                                    <div class="order-{{n.sorting}} " *ngFor="let n of customField;  let a = index"
                                        [hidden]="n.hide=='1'">
                                        <div class="p-1 text-center orders resizable "
                                            [ngStyle]="{'width': n.width+'px'}" data-id="{{n.id}}"
                                            data-tabindex="{{a}}">
                                            <b>{{n.name}} </b> <code>f{{n.f}}</code>
                                            <span *ngIf="n.iType === 'formula'" class="mx-1" placement="top"
                                                ngbTooltip="{{evalDescription(n.eval,customField)}}" container="body">
                                                <button class="btn btn-sm btn-light py-0">
                                                    <img src="./assets/icon/formula-30.png" height="20px">
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <cdk-virtual-scroll-viewport itemSize="30" class="tables-body " (scroll)="onScroll($event)"
                            #scrollViewport>

                            <!-- <div class="sticky-top border-bottom"
                                [style.top]=" detail.length > 20 ?  inverseOfTranslation : '0px'">
                                <div class="d-flex tables-header-td bg-white">

                                    <div class="floating-div bg-white  border-start">
                                        <div class="py-1 px-3">
                                            <i class="bi bi-check-square-fill text-primary" *ngIf="isCheckBoxAll"
                                                (click)="checkBoxAll(false)"></i>
                                            <i class="bi bi-square" *ngIf="!isCheckBoxAll"
                                                (click)="checkBoxAll(true)"></i>
                                            <span class="px-1 text-end  d-inline-block" style="min-width: 30px;"> #
                                            </span>
                                        </div>

                                    </div>

                                    <div class="order-{{n.sorting}} bg-white "
                                        *ngFor="let n of customField;  let a = index" [hidden]="n.hide=='1'">
                                        <div class="p-1 text-center orders resizable "
                                            [ngStyle]="{'width': n.width+'px'}" data-id="{{n.id}}"
                                            data-tabindex="{{a}}">
                                            <b>{{n.name}} </b> <code>f{{n.f}}</code>
                                            <span *ngIf="n.iType === 'formula'" class="mx-1" placement="top"
                                                ngbTooltip="{{evalDescription(n.eval,customField)}}" container="body">
                                                <button class="btn btn-sm btn-light py-0">
                                                    <img src="./assets/icon/formula-30.png" height="20px">
                                                </button>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div> -->

                            <div class="sortable border-start" style="margin-top: 31px;">
                                <span *cdkVirtualFor="let row of detail;templateCacheSize: 0; let i = index; ">
                                    <div class="d-flex tables-body-td ">
                                        <div class="floating-div bg-white border-start table-body-td-first">
                                            <div class="py-1 px-3 position-relative orders-left-fixed">
                                                <div class="table-sorting-area">
                                                    <div class="py-1 handle" data-id="{{row.id}}">
                                                        <span *ngIf="row.ilock != '1'"> <i class="bi bi-list "></i>
                                                        </span>
                                                        <span *ngIf="row.ilock == '1'"> <i
                                                                class="bi bi-lock-fill"></i></span>
                                                    </div>
                                                </div>

                                                <span *ngIf="row.checkbox===true"
                                                    (click)="row.checkbox=false;fnTools();">
                                                    <i class="bi bi-check-square-fill text-primary"></i>
                                                </span>
                                                <span *ngIf="row.checkbox!=true" (click)="row.checkbox=true;fnTools();">
                                                    <i class="bi bi-square"></i>
                                                </span>
                                                <span class="px-1 text-end  d-inline-block" style="min-width: 30px;">
                                                    {{i+1}}
                                                </span>
                                            </div>
                                        </div>

                                        <div class="order-{{column.sorting}}"
                                            *ngFor="let column of customField;  let a = index"
                                            [hidden]="column.hide=='1'">
                                            <div class="orders" [ngClass]="{'bg-lock': row.ilock == '1' ? true : false}"
                                                [ngStyle]="{'width': column.width+'px'}">

                                                <!-- <app-custom-field [item]="objItem(n,row,i)"
                                                    (newItemEvent)="onChild($event)"></app-custom-field>   -->

                                                <!-- START >>custom-field  -->
                                                <div *ngIf="column['iType']=='text' || column['iType']=='number' ">
                                                    <div class="d-flex">
                                                        <div style="width: 100%;">
                                                            <input [type]="column['iType']"
                                                                [(ngModel)]="row['f'+column['f']]" #customFieldText
                                                                class="p-1 {{'text-'+column['textAlign']}} "
                                                                [ngClass]="{'text-danger': (column['iType']=='number' && row['f'+column['f']] < 0)}"
                                                                maxlength="250" [disabled]="row['ilock']=='1'"
                                                                (keyup.enter)="customFieldText.blur()"
                                                                (change)="updateRow(row,column['f'],column);">
                                                        </div>
                                                        <div class="mx-1 py-1" *ngIf="column['suffix']">
                                                            <small>{{column['suffix']}}</small>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div *ngIf="column['iType']=='formula'">
                                                    <div class="p-1 {{'text-'+column['textAlign']}} " 
                                                    [innerHTML]="functionsService.isNumber(row['f'+column['f']])"></div>
                                                </div>

                                                <div *ngIf="column['iType']=='date'">
                                                    <div class="d-flex">
                                                        <div>
                                                            <input type="text" class="p-1 text-center" name="dp"
                                                                readonly [(ngModel)]="row['f'+column['f']]"
                                                                [placeholder]="functionsService.formatDate(row['f'+column['f']])"
                                                                container="body"
                                                                (ngModelChange)="updateRow(row,column['f'],column);"
                                                                ngbDatepicker #d="ngbDatepicker" />

                                                        </div>
                                                        <div>
                                                            <span *ngIf="row['ilock']!='1'"> <button
                                                                    class="btn btn-sm bi bi-calendar3"
                                                                    (click)="d.toggle()" type="button"></button></span>

                                                            <span *ngIf="row['ilock']=='1'">
                                                                <button class="btn btn-sm bi bi-calendar-x"
                                                                    type="button"></button>
                                                            </span>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div *ngIf="column['iType']=='time'">
                                                    <div class="mx-2">
                                                        <div class="d-flex justify-content-center">
                                                            <input type="text" class="p-1 text-center" maxlength="250"
                                                                [(ngModel)]="row['f'+column['f']]" #customFieldText
                                                                [disabled]="row['ilock']=='1'"
                                                                (keyup.enter)="customFieldText.blur()"
                                                                (change)="updateRow(row,column['f'],column);"
                                                                placeholder="HH:MM">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div *ngIf="column['iType']=='image'">
                                                    <div class="p-1 text-center">
                                                        <a href="javascript:;"
                                                            (click)="offCanvasImages(row,column['f'],i);">
                                                            <small> {{row['f'+column['f']] > 0 ? '' :'No'}}
                                                                <i class="bi bi-images"
                                                                    *ngIf="row['f'+column['f']] > 0 "></i>
                                                                {{row['f'+column['f']] > 0 ? row['f'+column['f']] :''}}
                                                                {{row['f'+column['f']] > 1 ? 'Images' :'Image'}}
                                                            </small>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div *ngIf="column['iType']=='select'">

                                                    <div *ngIf="row['ilock']=='1'">

                                                        <div class="select p-1 text-center "
                                                            [ngClass]="{'text-white': selectOption( row['f'+column['f']], column['f'] )['color'] != null }"
                                                            [ngStyle]="{'background': selectOption( row['f'+column['f']], column['f'] )['color'] }"
                                                            [innerHTML]="selectOption( row['f'+column['f']], column['f'] )['value']">
                                                        </div>
                                                    </div>
                                                    <div *ngIf="row['ilock']!='1'">
                                                        <div ngbDropdown container="body">
                                                            <div id="dropdownForm2" class="select p-1 text-center "
                                                                ngbDropdownToggle
                                                                [ngClass]="{'text-white': selectOption( row['f'+column['f']], column['f'] )['color'] != null }"
                                                                [ngStyle]="{'background': selectOption( row['f'+column['f']], column['f'] )['color'] }"
                                                                [innerHTML]="selectOption( row['f'+column['f']], column['f'] )['value']">
                                                            </div>
                                                            <div ngbDropdownMenu aria-labelledby="dropdownForm2">
                                                                <div style="width: 230px;" class="px-4 py-2 d-grid">
                                                                    <div class="mb-3">
                                                                        <input type="text"
                                                                            class="form-control form-control-sm"
                                                                            placeholder="Search Option">
                                                                    </div>
                                                                    <div class=" d-grid mb-4"
                                                                        style="overflow-y: auto; max-height: 300px;">
                                                                        <button class="btn mb-1 text-center text-white"
                                                                            [ngStyle]="{'background': x.color}"
                                                                            ngbDropdownItem
                                                                            *ngFor="let x of selectDropdown( column['f'])"
                                                                            (click)="fnSelectDropdown(x.id, column['f'], column, row);">{{x.value}}</button>
                                                                    </div>

                                                                    <button type="button"
                                                                        class="btn btn-outline-light border text-black mb-1 text-center"
                                                                        (click)="modalEditSelect(column['f']);"
                                                                        ngbDropdownItem><i class="bi bi-pencil"></i>
                                                                        Edit Select</button>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div *ngIf="column['iType']=='url'">
                                                    <div class="d-flex ">
                                                        <div class="w-100">
                                                            <small class="cut-text  pt-1 px-1" style="width: inherit;"
                                                                [hidden]="!row['f'+column['f']]">
                                                                <a [href]="row['f'+column['f']]"
                                                                    target="_blank">{{row['f'+column['f']]}}</a>
                                                            </small>
                                                        </div>

                                                        <div class="flex-shrink-1">
                                                            <div *ngIf="row['ilock']!='1'">
                                                                <div ngbDropdown container="body">
                                                                    <div id="dropdownForm3" ngbDropdownToggle>
                                                                        <i class="bi bi-pencil-square"></i>
                                                                    </div>
                                                                    <div ngbDropdownMenu
                                                                        aria-labelledby="dropdownForm3">
                                                                        <div style="width: 300px;" class="p-2 d-grid">
                                                                            <div class="mb-3">
                                                                                <input type="text"
                                                                                    class="form-control form-control-sm"
                                                                                    [(ngModel)]="row['f'+column['f']]"
                                                                                    placeholder="https://yoururl.here">
                                                                            </div>
                                                                            <button type="button"
                                                                                class="btn btn-outline-light border text-black mb-1 text-center"
                                                                                (click)="updateRow(row,column['f'],column);"
                                                                                ngbDropdownItem> Save</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div *ngIf="column['iType']=='user'">
                                                    <div *ngIf="row['ilock']=='1'">
                                                        <div class="select p-1">
                                                            <span><img class="rounded-circle border me-1" height="20"
                                                                    [src]="selectUsers( row['f'+column['f']] )['picture']"></span>
                                                            <small>{{selectUsers( row['f'+column['f']]
                                                                )['value']}}</small>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="row['ilock']!='1'">

                                                        <div ngbDropdown container="body">

                                                            <div id="dropdownForm2" class="select p-1  "
                                                                ngbDropdownToggle>
                                                                <span><img class="rounded-circle border me-1"
                                                                        height="20"
                                                                        [src]="selectUsers( row['f'+column['f']] )['picture']"></span>
                                                                <small
                                                                    [ngClass]="{'text-danger ': selectUsers( row['f'+column['f']] )['presence'] != '1' ? true: false}">{{selectUsers(
                                                                    row['f'+column['f']] )['value']}} </small>
                                                                <span class="text-danger"
                                                                    *ngIf="selectUsers( row['f'+column['f']] )['presence'] != '1'">
                                                                    <i class="bi bi-exclamation-lg"></i></span>
                                                            </div>
                                                            <div ngbDropdownMenu aria-labelledby="dropdownForm2">
                                                                <div style="width: 250px;" class="px-4 py-2">
                                                                    <small>Select User</small>

                                                                    <div style="overflow-y: auto; max-height: 200px;"
                                                                        class="my-2 pointer">
                                                                        <div *ngFor="let x of users"
                                                                            (click)="fnSelectDropdown(x.accountId, column['f'], column, row);"
                                                                            ngbDropdownItem class="d-flex mb-1">
                                                                            <div>
                                                                                <img [src]="x.picture"
                                                                                    class="rounded-circle border me-2"
                                                                                    height="25">
                                                                            </div>
                                                                            <div class="align-self-center"> {{x.value}}
                                                                            </div>
                                                                        </div>
                                                                    </div>



                                                                    <div class=" text-center d-grid">
                                                                        <a href="javascript:;" class="btn">
                                                                            <small><i
                                                                                    class="bi bi-person-plus me-2"></i>
                                                                                Invite a new member with link</small>
                                                                        </a>
                                                                    </div>

                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- END >> custom-field  -->

                                            </div>
                                        </div>

                                    </div>
                                </span>
                            </div>

                            <div class="sticky-bottom  " [style.bottom]="inverseOfTranslationBottom">
                                <div class="d-flex tables-footer-td ">
                                    <div class="floating-div  text-light ">
                                        <div class="py-1 px-3">
                                            <i class="bi bi-file-spreadsheet text-white"></i>
                                        </div>
                                    </div>
                                    <div class=" order-{{n.sorting}}  "
                                        *ngFor="let n of customField;  let a = index" [hidden]="n.hide=='1'">
                                        <div class="p-1 text-center" [ngStyle]="{'width': n.width+'px'}">
                                            <!-- {{fnDetailTotal(n) }} -->
                                            <div class="mx-1 bg-white rounded shadow-sm border" [hidden]="!n.total">
                                                <span [innerHTML]="n.total"></span>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </cdk-virtual-scroll-viewport>

                    </div>

                </div>
            </div>
        </div>


    </div>

</div>


<ng-template #canvasImages let-offcanvas>

    <div class="container-fluid my-1">
        <div class="row">
            <div class="col-10">
                <strong class="offcanvas-title" id="offcanvas-basic-title">Images #{{imagesIndex}}</strong>
            </div>
            <div class="col-2 text-end">
                <button type="button" class="btn-close" aria-label="Close" (click)="closeImages()"></button>
            </div>
        </div>

    </div>
    <div class="offcanvas-body">
        <div class="mb-2" *ngIf="imageQueryParams['iLock'] == '0'">

            <div class="p-4 border-dot text-center rounded" *ngIf="!clipboardImage && !url">
                <small>Paste the Image clipboard into this area </small>
                <div><small>or</small></div>
                <input type="text" [(ngModel)]="url" name="url" class="form-control form-control-sm"
                    placeholder="Save external source images address">
            </div>
            <input #imageInput type="hidden">

            <div class="text-center my-5" *ngIf="imagesLoading">
                <img src="./assets/gif/loading-board.gif" width="40%">
            </div>

            <div *ngIf="clipboardImage">

                <div class="row g-1">
                    <div class="col-12 mb-2">
                        <img [src]="clipboardImage" alt="Pasted Image" width="100%">
                    </div>
                    <div class="col-12 mb-1">
                        <input type="text" class="form-control" [(ngModel)]="caption" placeholder="Caption (optional)"
                            (keyup.enter)="onImagesPost();">
                    </div>
                    <div class="col-12 text-end">
                        <button type="button" class="btn btn-success" (click)="onImagesPost();"><i
                                class="bi bi-send"></i></button>
                    </div>
                </div>

            </div>

            <div *ngIf="url">

                <div class="row g-1">
                    <div class="col-12 mb-2">
                        <img [src]="url" width="100%">

                        <div class="my-1">
                            <input type="text" readonly class="form-control form-control-sm" [value]="url">
                        </div>
                    </div>

                    <div class="col-1 align-self-center">
                        <i class="bi bi-link-45deg"></i>
                    </div>
                    <div class="col-11 mb-1">
                        <input type="text" class="form-control" [(ngModel)]="caption" placeholder="Caption (optional)"
                            (keyup.enter)="onImagesSaveUrl();">
                    </div>

                    <div class="col-9 align-self-center">
                        <small>This image is used by an external resource.</small>
                    </div>
                    <div class="col-3 text-end">
                        <button type="button" class="btn btn-success" (click)="onImagesSaveUrl();"><i
                                class="bi bi-send"></i></button>
                    </div>
                </div>
            </div>
        </div>


        <div class="px-1" *ngIf="!clipboardImage && !url"
            [ngClass]="{'canvasImagesMaxHeight': imageQueryParams['iLock'] == '0'}">

            <div class="row g-1">
                <div class="col-6 mb-2" *ngFor="let x of images">
                    <div>
                        <a [href]="x.path+x.fileName" target="_blank" [rel]="x.caption">
                            <img [src]="x.path+x.fileName" width="100%" class="shadow-sm rounded border" placement="top"
                                [alt]="x.caption" ngbTooltip="{{x.caption}}">
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-7"><small>{{x.source}}</small></div>
                        <div class="col-5 text-end" *ngIf="imageQueryParams['iLock'] == '0'">
                            <button type="button" (click)="onImagesRemove(x)"
                                class="btn btn-sm btn-danger py-0"><small>Remove</small></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</ng-template>