<app-header></app-header>

<div [hidden]="leftSide" class="absolut-area">
    <a (click)="leftSide=true" class="btn btn-outline-dark"> <i class="bi bi-arrow-bar-right"></i></a>
</div>

<div class="popup-floating-top" [hidden]="!tools">
    <div class="border bg-white popup-floating-top-content shadow rounded p-3">
        <div class="d-flex">
 
            <div class="me-2">
                <a class="btn btn-sm btn-light px-2" (click)="actionTask('duplicate')">
                    <h5 class="bi bi-files p-0 m-0"></h5>
                    <small> Duplicate</small>
                </a>
            </div>

            <div class="me-2">
                <a class="btn btn-sm btn-light px-2" (click)="actionTask('delete')">
                    <h5 class="bi bi-trash  p-0 m-0"></h5>
                    <small>Delete</small>
                </a>
            </div>
            <div class="mx-1 ">
                &nbsp;
            </div>
            <div class="me-2">
                <a class="btn btn-sm btn-light px-2" (click)="actionTask('lock')">
                    <h5 class="bi bi-lock  p-0 m-0"></h5>
                    <small>Lock</small>
                </a>
            </div>

            <div class="me-2">
                <a class="btn btn-sm btn-light px-2" (click)="actionTask('unlock')">
                    <h5 class="bi bi-unlock  p-0 m-0"></h5>
                    <small>Unlock</small>
                </a>
            </div>
            <div class="mx-1 ">
                &nbsp;
            </div>
            <div class="me-2">
                <a class="btn btn-sm btn-light px-2" (click)="actionTask('archives')">
                    <h5 class="bi bi-archive  p-0 m-0"></h5>
                    <small>Archives</small>
                </a>
            </div>
            <div class="me-2">
                <a class="btn btn-sm btn-light px-2" >
                    <h5 class=" p-0 m-0"><i class="bi bi-folder-symlink "></i> </h5>
                    <small>Unarchives</small>
                </a>
            </div>
            <div class="me-2">
                <a class="btn btn-sm btn-light px-2">
                    <h5 class=" p-0 m-0"><i class="bi bi-eye-fill"></i></h5>
                    <small>Show All</small>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid body-margin-top">
    <div class="row g-2">
        <!-- <div class="col-lg-3 col-12" [hidden]="!leftSide"> -->
        <div class="col-lg-3 col-12" [hidden]="true">
            <div class="bg-white rounded ">
                <div class="text-end">
                    <button type="button" (click)="leftSide=false" class="btn btn-light"><i
                            class="bi bi-arrow-bar-left"></i></button>
                </div>
                <div class="mb-4">
                    <canvas id="canvas">{{chart}}</canvas>
                </div>
                <div class="p-3">

                    <div class="mb-2">
                        <h4>Summary</h4>
                    </div>

                </div>
            </div>

        </div>


        <div class="col-lg-12 col-12">
            <div class="bg-white rounded" style="border-left: 5px solid rgb(114, 194, 254);">

                <div class="px-3 py-2">
                    <div class="row g-0">
                        <div class="col-11">
                            <app-board-title></app-board-title>
                        </div>
                        <div class="col-1 align-self-center text-end">
                            <a href="javascript:;" class="btn btn-outline-dark btn-sm" placement="top-right"
                                (click)="openComponent('CustomFieldFormComponent')" (newItemEvent)="onChild($event)"
                                ngbTooltip="Tooltip on top"><i class="bi bi-gear"></i> Fields</a>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-12 ">
                            <app-board-view (newItemEvent)="reload($event)"></app-board-view>
                        </div>

                        <div class="col-11">
                            <div class="d-flex">
                                <div class="me-2">
                                    <button type="button" (click)="addTask()" class="btn btn-sm btn-primary">New
                                        Task</button>
                                </div>

                                <div class="me-2">
                                    <input type="text" class="form-control form-control-sm" placeholder="Search">
                                </div>

                                <div class="me-2">
                                    <button type="button" class="btn btn-sm btn-light"><i  class="bi bi-sliders"></i></button>
                                </div>

                                <div class="me-2">
                                    <div ngbDropdown class="d-inline-block" container="body">
                                        <button type="button" class="btn btn-sm btn-light" id="dropdownFormHide"
                                            ngbDropdownToggle>
                                            <i class="bi bi-eye-slash"></i> Hide
                                        </button>
                                        <div ngbDropdownMenu aria-labelledby="dropdownFormHide" style="width: 240px;">
                                            <div class="px-3 py-2">
                                                <div *ngFor="let x of customField; let i = index"
                                                    class="border-bottom py-1">
                                                    <div class="row g-1">
                                                        <div class="col-10"
                                                            [ngClass]="{'text-gray': x.hide==1 ? true :false}">
                                                            {{x.name}}
                                                        </div>
                                                        <div class="col-2 text-end">
                                                            <span *ngIf="x.hide==1" (click)="fnHide(1,i,x);">
                                                                <i class="bi bi-square"></i>
                                                            </span>
                                                            <span *ngIf="x.hide!=1" (click)="fnHide(0,i,x);">
                                                                <i class="bi bi-check-square-fill text-dark"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="me-2" [hidden]="archives < 1"> 
                                    <button type="button" class="btn btn-sm btn-light" (click)="actionTask('unarchives');">  {{archives}} <i  class="bi bi-archive"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="text-center my-5" *ngIf="!startUpTable">
                    <img src="./assets/gif/loading-board.gif" class="w-100" style="max-width: 200px;">
                </div>

                <div class="ps-3 pt-0">
                    <div class="tables-body " *ngIf="startUpTable">
                        <div class="sticky-top border-bottom">
                            <div class="d-flex tables-header-td bg-white">
                                <div class="floating-div bg-white  border-start">
                                    <div class="py-1 px-3">
                                        <i class="bi bi-check-square-fill text-primary" *ngIf="isCheckBoxAll"
                                            (click)="checkBoxAll(false)"></i>
                                        <i class="bi bi-square" *ngIf="!isCheckBoxAll" (click)="checkBoxAll(true)"></i>
                                    </div>
                                </div>
                                <div class=" order-{{n.sorting}} bg-white "
                                    *ngFor="let n of customField;  let a = index" [hidden]="n.hide=='1'">
                                    <div class="p-1 text-center orders " [ngStyle]="{'width': n.width+'px'}">
                                        <b>{{n.name}}</b>
                                        <span *ngIf="n.iType === 'formula'" class="mx-1">
                                            <button class="btn btn-sm btn-light py-0"><i class="bi bi-pen"></i></button>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="sortable">
                            <span *ngFor="let x of detail; let i = index" [hidden]="x.archives == '1'">
                                <div class="d-flex tables-body-td ">
                                    <div class="floating-div bg-white border-start table-body-td-first">
                                        <div class="py-1 px-3 position-relative orders-left-fixed">
                                            <div class="table-sorting-area">
                                                <div class="py-1 handle" data-id="{{x.id}}" *ngIf="x.ilock == '0'">
                                                    <i class="bi bi-list "></i>
                                                </div>
                                                <div class="py-1 " *ngIf="x.ilock == '1'">
                                                    <i class="bi bi-lock-fill"></i>
                                                </div>
                                            </div>

                                            <span *ngIf="x.checkbox===true" (click)="x.checkbox=false;fnTools();">
                                                <i class="bi bi-check-square-fill text-primary"></i>
                                            </span>
                                            <span *ngIf="x.checkbox!=true" (click)="x.checkbox=true;fnTools();">
                                                <i class="bi bi-square"></i>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="order-{{n.sorting}}" *ngFor="let n of customField;  let a = index"
                                        [hidden]="n.hide=='1'">
                                        <div class="orders" [ngStyle]="{'width': n.width+'px'}">
                                            <app-custom-field [item]="objItem(n,x,i)"
                                                (newItemEvent)="onChild($event)"></app-custom-field>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>

                        <div class="sticky-bottom ">
                            <div class="d-flex tables-header-td  ">
                                <div class="floating-div  text-light  border-end ">
                                    <div class="py-1 px-3">
                                        <i class="bi bi-file-spreadsheet text-white"></i>
                                    </div>
                                </div>
                                <div class=" order-{{n.sorting}} bg-light border-bottom  "
                                    *ngFor="let n of customField;  let a = index" [hidden]="n.hide=='1'">
                                    <div class="p-1 text-center orders " [ngStyle]="{'width': n.width+'px'}">{{n.name}}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<ng-template #canvasRight let-offcanvas>
    <div class="offcanvas-header">
        <div class="offcanvas-title" id="offcanvas-basic-title">Notes</div>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body">

        <div class="mb-3">

            <!-- {{detailObject | json}} -->
            <editor apiKey="cc5hqwaiqsocbfakkn5qpug7r9bx5zioxppbw9h6w4gd0286" [init]="{
                height: 500,
                menubar: false, 
                branding: false,
                plugins: [
                'advlist autolink lists link image charmap print preview anchor', 
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
                ],
                toolbar:
                'formatselect | bold italic backcolor | \
                alignleft aligncenter alignright alignjustify | \
                bullist numlist outdent indent | removeformat'
            }" [(ngModel)]="detailObject.value"></editor>
        </div>

        <div class="text-end">
            <button type="button" class="btn btn-outline-dark" (click)="offcanvas.close('Save click')">Save</button>
        </div>
    </div>
</ng-template>

<ng-template #contentEditSelect let-modal>
    <div class="modal-header">
        <div class="modal-title" id="modal-basic-title">Editable Select Option </div>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body pb-5">

        <div class="sortableSelect">
            <div class="row g-1 py-2" *ngFor="let item of detailObject.select.option">
                <div class="col-8">
                    <input type="text" class="form-control" [(ngModel)]="item.value" (change)="onUpdateSelect(item);"
                        #selectValue (keyup.enter)="selectValue.blur()">
                </div>
                <div class="col-4">
                    <div class="d-flex">
                        <div class="mx-1">
                            <div ngbDropdown class="d-inline-block" #myDrop="ngbDropdown">
                                <a class="btn btn-light" id="dropdownBasic1" ngbDropdownToggle>
                                    <i class="bi bi-square-fill " [ngStyle]="{'color': item.color }"></i>
                                </a>
                                <div ngbDropdownMenu>
                                    <div style="width: 214px;">
                                        <a class="m-1 btn p-0" *ngFor="let i of backgroundColorOption"
                                            (click)="item.color=i.color;onUpdateSelect(item);myDrop.close()">
                                            <i class="bi bi-square-fill fs-4" [ngStyle]="{'color': i.color }"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mx-1"><a href="javascript:;" class="btn btn-light" (click)="onDeleteSelect(item)"><i
                                    class="bi bi-trash"></i></a></div>
                        <div class="mx-1"><a href="javascript:;" class="btn handleSelect" data-id="{{item.id}}"> <i
                                    class="bi bi-list"></i></a></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row g-1">
            <div class="col-12">
                <hr>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" [(ngModel)]="newSelect.value" id="newSelectVal"
                    name="newSelectVal" #newSelectVal="ngModel" required>
                <div [hidden]="newSelectVal.valid || newSelectVal.pristine" class="text-danger">
                    Name is required
                </div>
            </div>
            <div class="col-4">
                <div class="d-flex">
                    <div class="mx-1">
                        <div ngbDropdown class="d-inline-block" #myDrop="ngbDropdown">
                            <a class="btn btn-light" id="dropdownBasic1" ngbDropdownToggle>
                                <i class="bi bi-square-fill " [ngStyle]="{'color':newSelect.color }"></i>
                            </a>
                            <div ngbDropdownMenu>
                                <div style="width: 214px;">
                                    <a class="m-1 btn p-0" *ngFor="let i of backgroundColorOption"
                                        (click)="newSelect.color=i.color;myDrop.close()">
                                        <i class="bi bi-square-fill fs-4" [ngStyle]="{'color': i.color }"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mx-1">
                        <button type="button" [disabled]="!newSelect.value" (click)="addInsertSelect();"
                            class="btn btn-light"><i class="bi bi-plus-lg"></i> Add </button>
                    </div>
                </div>

            </div>
        </div>

        {{newSelect | json}}
    </div>

</ng-template>