<app-header></app-header>
<div class="container-fluid body-margin-top">
    <div class="row g-2">

        <div class="col-lg-3 col-12" [hidden]="!leftSide">

            <div class="bg-white rounded ">
                <div class="text-end">
                    <button type="button" (click)="leftSide=false" class="btn btn-light"><i
                            class="bi bi-arrow-bar-left"></i></button>
                </div>
                <div class="mb-4">
                    <canvas id="canvas">{{chart}}</canvas>
                </div>
                <div class="p-3">

                    <div class="mb-2">
                        <h4>Summary</h4>
                    </div>
                    <div class="mb-2">
                        Total Trades
                    </div>
                    <a class="m-1 btn" [title]="i.color" *ngFor="let i of backgroundColorOption">
                        <i class="bi bi-square-fill fs-4" [ngStyle]="{'color': i.color }"></i>
                    </a>
                </div>
            </div>

        </div>


        <div class="col-lg-{{leftSide == false ? 12:9}} col-12">
            <div class="bg-white rounded  ">
                <div class="p-3">
                    <div class="row">
                        <div class="col-8">
                            <input class="form-control form-control-lg border-0 p-0" placeholder=""
                                [(ngModel)]="item.name" (change)="onSubmit()" #itemName (keyup.enter)="itemName.blur()">
                        </div>
                        <div class="col-4 text-end align-self-center">
                            <div class="d-flex flex-row-reverse ">
                                <div>
                                    <a href="javascript:;" class="btn btn-outline-dark btn-sm" placement="top-right"
                                        (click)="openModalFullscreen(contentCustomField)" ngbTooltip="Tooltip on top"><i
                                            class="bi bi-gear"></i></a>
                                </div>

                                <div ngbDropdown container="body" class="mx-1">
                                    <button type="button" class="btn btn-outline-dark btn-sm" ngbDropdownToggle>
                                        <span class="me-2"
                                            [innerHTML]="fnPermission(item.permissionId)['fontIcon']"></span>
                                        {{fnPermission(item.permissionId)['name']}}
                                    </button>
                                    <div ngbDropdownMenu>
                                        <button ngbDropdownItem (click)="item.permissionId = a.id; onSubmit()"
                                            *ngFor="let a of permission">
                                            <span class="me-2" [innerHTML]="a.fontIcon"></span> {{a.name}}
                                        </button>
                                    </div>
                                </div>
                                <div [hidden]="fnPermission(item.permissionId)['share'] != 1" placement="top"
                                    ngbTooltip="http://localhost:4200/#/board/{{journal.url}}">
                                    <a href="http://localhost:4200/#/board/{{journal.url}}" target="_blank"
                                        class="btn btn-sm text-dark"><i class="bi bi-link-45deg"></i> Copy</a>
                                </div>

                                <div [hidden]="leftSide">
                                    <a (click)="leftSide=true"> <i class="bi bi-arrow-bar-right h2"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="d-flex">
                                <div class="me-2">
                                    <button type="button" class="btn btn-sm btn-primary">New Task</button>
                                </div>
                                <div class="me-2">
                                    <input type="text" class="form-control form-control-sm" placeholder="Search">

                                </div>
                                <div class="me-2">
                                    <button type="button" class="btn btn-sm btn-light"><i class="bi bi-sliders"></i></button>
                                </div>
                                <div class="me-2">
                                    <button type="button" class="btn btn-sm btn-light"><i class="bi bi-eye-slash"></i> Hide</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center my-5" *ngIf="!startUpTable">
                    <img src="./assets/gif/loading-board.gif" class="w-100" style="max-width: 300px;">
                </div>
                <div class="ps-3 pt-0">
                    <div class="tables-body border" *ngIf="startUpTable">
                        <div class="sticky-top">
                            <div class="d-flex tables-header-td bg-white">
                                <div class="floating-div bg-white">
                                    <div class="py-1 px-2">
                                        <i class="bi bi-check-square-fill text-primary" *ngIf="isCheckBoxAll"
                                            (click)="checkBoxAll(false)"></i>
                                        <i class="bi bi-square" *ngIf="!isCheckBoxAll" (click)="checkBoxAll(true)"></i>
                                    </div>
                                </div>
                                <div class=" order-{{n.sorting}} bg-white "
                                    *ngFor="let n of customField;  let a = index">
                                    <div class="p-1 text-center orders " [ngStyle]="{'width': n.width+'px'}">{{n.name}}
                                    </div>
                                </div>
                                <!-- <div class=" order-99 bg-white ">
                                <div class="p-1 text-center orders ">Notes</div>
                            </div> -->

                            </div>
                        </div>

                        <div class="d-flex tables-body-td" *ngFor="let x of detail; let i = index">
                            <div class="floating-div bg-white">
                                <div class="py-1 px-2">
                                    <span *ngIf="x.checkbox===true" (click)="x.checkbox=false">
                                        <i class="bi bi-check-square-fill text-primary"></i>
                                    </span>
                                    <span *ngIf="x.checkbox!=true" (click)="x.checkbox=true">
                                        <i class="bi bi-square"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="order-{{n.sorting}}" *ngFor="let n of customField;  let a = index">
                                <div class="orders" [ngStyle]="{'width': n.width+'px'}">
                                    <app-custom-field [item]="objItem(n,x,i)"
                                        (newItemEvent)="onChild($event)"></app-custom-field>
                                </div>
                            </div>


                        </div>
                        <div class="sticky-bottom border-top">
                            <div class="d-flex tables-header-td ">
                                <div class="floating-div  text-light  bg-light ">
                                    <div class="py-1 px-2">
                                        <i class="bi bi-file-spreadsheet text-white"></i>
                                    </div>
                                </div>
                                <div class=" order-{{n.sorting}} bg-light "
                                    *ngFor="let n of customField;  let a = index">
                                    <div class="p-1 text-center orders " [ngStyle]="{'width': n.width+'px'}">{{n.name}}
                                    </div>
                                </div>
                                <!-- <div class=" order-99 bg-white ">
                                <div class="p-1 text-center orders ">Notes</div>
                            </div> -->

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<ng-template #canvasRight let-offcanvas>
    <div class="offcanvas-header">
        <div class="offcanvas-title" id="offcanvas-basic-title">Notes</div>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body">

        <div class="mb-3">

            <!-- {{detailObject | json}} -->
            <editor apiKey="cc5hqwaiqsocbfakkn5qpug7r9bx5zioxppbw9h6w4gd0286" [init]="{
                height: 500,
                menubar: false, 
                branding: false,
                plugins: [
                'advlist autolink lists link image charmap print preview anchor', 
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
                ],
                toolbar:
                'formatselect | bold italic backcolor | \
                alignleft aligncenter alignright alignjustify | \
                bullist numlist outdent indent | removeformat'
            }" [(ngModel)]="detailObject.value"></editor>
        </div>

        <div class="text-end">
            <button type="button" class="btn btn-outline-dark" (click)="offcanvas.close('Save click')">Save</button>
        </div>
    </div>
</ng-template>


<ng-template #contentCustomField let-modal>

    <div class="modal-body">
        <div class="row">
            <div class="col-10">
                <div class="modal-title"><b>Custom Fields</b></div>
            </div>
            <div class="col-2 text-end">
                <button type="button" class="btn-close" aria-label="Close"
                    (click)="modal.dismiss('Cross click')"></button>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row g-2">
                <div class="col-2 border-bottom">
                    <strong>TYPE OF FIELD</strong>
                </div>
                <div class="col-10 border-bottom">
                    <div class="mx-2">
                        <strong>FIELDS</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="container sortable">
            <div class="row g-2 border-bottom py-1" *ngFor="let x of customFieldForm">
                <div class="col-2 ">
                    <div class="py-2">
                        <b><small> {{x.iType | uppercase}}</small></b>
                    </div>
                </div>

                <div class="col-9 ">


                    <div class="d-flex">
                        <div class="resizable" data-id="{{x.id}}" [ngStyle]="{'width': x.width+'px'}">
                            <input type="text" [(ngModel)]="x.name" class="form-control  "
                                (change)="onUpdateCustomField(x)" #updateCustomField
                                (keyup.enter)="updateCustomField.blur()">
                        </div>
                        <div class="mx-1" *ngIf="x.iType == 'number'"> <input type="text" [(ngModel)]="x.suffix"
                                class="form-control  " style="width: 50px;" (change)="onUpdateCustomField(x)"
                                maxlength="3" #updateCustomFieldSuffix (keyup.enter)="updateCustomFieldSuffix.blur()">
                        </div>

                    </div>

                </div>

                <div class="col-1 text-end">
                    <div class="d-flex">
                        <div class="mx-1">
                            <button type="button" class="btn btn-sm btn-danger" (click)="removeCustomeFlied(x);"><i
                                    class="bi bi-trash3"></i></button>
                        </div>
                        <div class="py-1 handle mx-1" data-id="{{x.id}}"> <i class="bi bi-list"></i> </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="container">

            <div class="row g-2 py-2">
                <div class="col-2">
                    <select class="form-control" [(ngModel)]="newCustomField.iType">
                        <option value="number">Number</option>
                        <option value="text">Text</option>
                        <option value="select">Select</option>
                        <option value="date">Date</option>
                        <option value="time">Time</option>
                        <option value="url">Url</option>
                        <option value="note">Note</option>
                        <option value="image">Image</option>
                    </select>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" [(ngModel)]="newCustomField.name">
                </div>
                <div class="col-2 d-grid">
                    <button type="button" (click)="addCustomField()" [disabled]="newCustomField.name==''"
                        class="btn btn-primary btn-sm">Add</button>
                </div>
            </div>
        </div>


    </div>

</ng-template>

<ng-template #contentEditSelect let-modal>
    <div class="modal-header">
        <div class="modal-title" id="modal-basic-title">Select Option Editable</div>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body pb-5">

        <div class="sortableSelect">
            <div class="row g-1 py-2" *ngFor="let item of detailObject.select.option">
                <div class="col-8">
                    <input type="text" class="form-control" [(ngModel)]="item.value" (change)="onUpdateSelect(item);"
                        #selectValue (keyup.enter)="selectValue.blur()">
                </div>
                <div class="col-4">
                    <div class="d-flex">
                        <div class="mx-1">
                            <div ngbDropdown class="d-inline-block" #myDrop="ngbDropdown">
                                <a class="btn btn-light" id="dropdownBasic1" ngbDropdownToggle>
                                    <i class="bi bi-square-fill " [ngStyle]="{'color': item.color }"></i>
                                </a>
                                <div ngbDropdownMenu>
                                    <div style="width: 214px;">
                                        <a class="m-1 btn p-0" *ngFor="let i of backgroundColorOption"
                                            (click)="item.color=i.color;onUpdateSelect(item);myDrop.close()">
                                            <i class="bi bi-square-fill fs-4" [ngStyle]="{'color': i.color }"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mx-1"><a href="javascript:;" class="btn btn-light" (click)="onDeleteSelect(item)"><i
                                    class="bi bi-trash"></i></a></div>
                        <div class="mx-1"><a href="javascript:;" class="btn handleSelect" data-id="{{item.id}}"> <i
                                    class="bi bi-list"></i></a></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row g-1">
            <div class="col-12">
                <hr>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" [(ngModel)]="newSelect.value" id="newSelectVal"
                    name="newSelectVal" #newSelectVal="ngModel" required>
                <div [hidden]="newSelectVal.valid || newSelectVal.pristine" class="text-danger">
                    Name is required
                </div>
            </div>
            <div class="col-4">
                <div class="d-flex">
                    <div class="mx-1">
                        <div ngbDropdown class="d-inline-block" #myDrop="ngbDropdown">
                            <a class="btn btn-light" id="dropdownBasic1" ngbDropdownToggle>
                                <i class="bi bi-square-fill " [ngStyle]="{'color':newSelect.color }"></i>
                            </a>
                            <div ngbDropdownMenu>
                                <div style="width: 214px;">
                                    <a class="m-1 btn p-0" *ngFor="let i of backgroundColorOption"
                                        (click)="newSelect.color=i.color;myDrop.close()">
                                        <i class="bi bi-square-fill fs-4" [ngStyle]="{'color': i.color }"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mx-1">
                        <button type="button" [disabled]="!newSelect.value" (click)="addInsertSelect();"
                            class="btn btn-light"><i class="bi bi-plus-lg"></i> Add </button>
                    </div>
                </div>

            </div>
        </div>

        {{newSelect | json}}
    </div>

</ng-template>