<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-sm">
                <tbody>
                    <tr *ngFor="let x of items">
                        <td> <a [routerLink]="[ '/backtest', x.id ]">{{x.name}}</a></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td><button type="button" (click)="onCreateNew();" class="btn btn-primary">New backtest</button></td>
                    </tr>
                </tfoot>
            </table>
        </div>


         
    </div>
</div>