<app-header (sendToParent)="onChild($event)" [item]="updateHeader()"></app-header>



<div class="container-fluid">
    <div class="bg-white p-3 rounded shadow-md border">

        <div class="row mb-3">
            <div class="col-4">
                <h4  (click)="onFocus()" *ngIf="editable.title == false">{{book.name}}</h4>
                 <input type="text" id="bookTitle" [(ngModel)]="book.name" #inputField
                 *ngIf="editable.title == true"  (change)="fnEditableChange();" 
                 placeholder="Book Title" class="form-control form-control-lg " (blur)="onBlur();"> 
            </div>
        </div>
        <div class="row">
           
            <div class="col-12 mt-2">
              
                <div class="">
                    <table class="table table-sm border table-hover">
                        <thead>
                            <tr>
                                <th width="40px"></th>
                                <th width="40px"></th>

                                <th>Title</th>
                                <th>Version</th>
                                <th>Color </th>
                                <th>Update Date</th>
                                <th>Owner</th>
                                <th colspan="4"></th>

                            </tr>
                        </thead>
                        <tbody class="sortable">
                            <tr *ngFor="let x of items; let i = index" data-id="{{x.id}}">
                                <td class="text-center">
                                    <input [hidden]="x.presence == '4'" type="checkbox" [(ngModel)]="x.checkbox">
                                </td>

                                <td class="text-center">
                                    <span [hidden]="x.presence == '4'">
                                        <!-- <i class="bi bi-star"></i> -->
                                        <i class="bi bi-star-fill text-warning"></i>
                                    </span>

                                </td>

                                <td [ngClass]="{'text-decoration-line-through': x.presence == '4'}">
                                    <a [routerLink]="[ '/backtest', x.id ]">{{x.name}}</a>
                                </td>

                                <td [ngClass]="{'text-decoration-line-through': x.presence == '4'}"> {{x.version}}</td>



                                <td>
                                    <span class="badge" *ngIf="x.presence != '4'"
                                        [ngStyle]="{'background': x.borderColor}">Color</span>
                                    <span class="badge bg-light text-warning" *ngIf="x.presence == '4'">Trash Bin</span>
                                </td>

                                <td [ngClass]="{'text-decoration-line-through': x.presence == '4'}"> {{x.update_date |
                                    date:'medium'}}
                                </td>

                                <td [ngClass]="{'text-decoration-line-through': x.presence == '4'}"> {{x.ownBy}}</td>

                                <td>
                                    <div ngbDropdown class="d-inline-block">
                                         
                                        <span>
                                            <i class="bi bi-folder" id="dropdownBasic1" ngbDropdownToggle></i>
                                        </span>
                                        
                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
                                            <button ngbDropdownItem *ngFor="let n of bookSelect" (click)="onChangesBook(n, x);">
                                               <span *ngIf="book.id == n.id"> <i class="bi bi-check2-square"></i> </span>
                                               <span *ngIf="book.id != n.id">  <i class="bi bi-square"></i> </span>  
                                               <span class="mx-1"> {{n.name}}</span>
                                            </button> 
                                        </div>
                                    </div>
                                       
                                    
                                </td>

                                <td>
                                    <span *ngIf="itemSetting(x)">
                                        <a (click)="open(content,x)" class="mx-1">  <i class="bi bi-person-plus"></i> </a>
                                    </span>
                                </td>
 
                                <td>
                                    <span [innerHTML]="x.fontIcon" title="{{x.permission}}"></span>
                                </td>

                                <td>
                                    <span class="handle">
                                        <i class="bi bi-list"></i>
                                    </span>
                                </td>

                            </tr>

                            <tr>
                                <td></td>
                                <td></td>
                                <td colspan="3">
                                    <input type="text" class="form-control form-control-sm" (keyup.enter)="onCreateNew()" [(ngModel)]="newJournal" placeholder="+ Add Journal">
                                 </td>
                                 <td colspan="17"></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="text-end my-2">
                    <button type="button" (click)="fnClearTrashBin();" class="btn btn-warning mx-1">Clear Trash bin
                    </button>
                    <button type="button" (click)="fnDeleteAll();" class="btn btn-danger mx-1">Delete </button>
                    <button type="button" (click)="onCreateNew();" class="btn btn-primary mx-1">New backtest</button>
                </div>
            </div>



        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4>Share "{{item.name}}"</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

        <div class="row mb-2">
            <div class="col-12 mb-4">
                <div>
                    <strong>General access</strong>
                </div>
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-sm  " id="dropdownBasic1" ngbDropdownToggle>
                        <span [innerHTML]="item.fontIcon" class="mx-2"></span> {{item.permission}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem (click)="onUpdatePermission(x)" *ngFor="let x of permission">
                            <span [innerHTML]="x.fontIcon" class="mx-2"></span> {{x.name}}
                        </button>
                    </div>
                </div>
                <div>
                    <small>Only people with access can open with the link</small>
                </div>
            </div>

            <div class="col-12 mb-2">
                <strong> People with access</strong>
            </div>
        </div>

        <div class="row mb-2" *ngFor="let x of journalAccess">

            <div class="col-9">
                <div>
                    <strong> {{x.name}} </strong>{{x.owner == '1' ? "(you)":""}}
                </div>
                <small>{{x.email}}</small>
            </div>
            <div class="col-3 align-self-center text-end">
                <span *ngIf="x.owner == '1'">
                    Owner
                </span>
                <span *ngIf="x.owner != '1'">
                    <a (click)="onRemoveAccess(x)"> <i class="bi bi-x-circle"></i> </a>
                </span>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12 ">

                <input type="email" class="form-control " required placeholder="Add People with email"
                    [(ngModel)]="addUser" (keydown.enter)="onSubmitUser()" #email="ngModel" email>
                <div [hidden]="email.valid || email.pristine" class="text-danger my-1">
                    Email is required
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-6">
                <button type="button" class="btn btn-outline-dark rounded-pill"><i class="bi bi-link"></i> Copy
                    Link</button>
            </div>
            <div class="col-6 text-end">
                <button type="button" class="btn btn-dark" (click)="modal.close('Save click')">Done</button>
            </div>

        </div>
    </div>

</ng-template>