<div class="wrapper">
    <div class="bg-x login py-5 px-3 shadow rounded border">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">

                    <img src="./assets/img/mirrel.png" class="w-75">
                    <div class="mb-3">
                        by <b>Trader</b> for trader
                    </div>
                </div>

                <div class="col-12 mt-3 text-center">
                    <h4>Welcome</h4>
                    <h5 class="mb-4">Unlocking Trader Success, Together</h5>
                </div>

                <div class="col-12">
                    <div class="text-center mt-4">
                        <div class="center-line my-4">
                            <div class="line"></div>
                            <div class="mx-3"><small>Checking Auth</small></div>
                            <div class="line"></div>
                        </div> 
                    </div>
                    <div class="text-center">
                        <img src="./assets/gif/auth.gif" class="w-50">
                        <div>
                           {{note}}
                        </div>
                    </div>
                    <div class="text-center my-3" *ngIf="relogin">
                        <a [href]="env.signin"  class="btn btn-dark px-5">Relogin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form (ngSubmit)="onSubmit()" #myForm="ngForm" autocomplete="off">
                    <div class="form-group mb-3"> 
                        <input type="email" class="form-control " id="floatingInput" placeholder="name@example.com" required
                            [(ngModel)]="model.email" name="email" #email="ngModel" email autocomplete="false">
                        <div>
                            <small [hidden]="email.valid || email.pristine" class="text-danger"> Email is required </small>
                        </div>
                    </div>
                    <div class="form-group  mb-3">
                        <input type="password" class="form-control  " id="floatingPassword" placeholder="Password" required
                            [(ngModel)]="model.passw" name="passw" #passw="ngModel" autocomplete="false">
                        <div>
                            <small [hidden]="passw.valid || passw.pristine" class="text-danger"> Password is required
                            </small>
                        </div>
                    </div>
                    <div class="d-grid"> 
                        <button class="btn btn-primary btn-user  mb-3" [disabled]="!myForm.form.valid" type="submit">Sign  in</button>
                    </div>
                    <div>{{note}}</div>
    
                </form>
            </div>
        </div>
    </div>
</div> -->