<header class="fixed-top bg-blur">
    <nav class="navbar navbar-expand py-0">
        <div class="container-fluid">
            <a class="navbar-brand" [routerLink]="[ '/home' ]">
                <img src="./assets/img/mirrel.png" height="20">
            </a>

            <div class="collapse navbar-collapse" id="navbarsExample02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                            aria-expanded="false">Books</a>
                        <ul class="dropdown-menu">
                            <li *ngFor="let x of items" [ngClass]="{'bg-light': x.id == id ? true : false}">
                                <a class="dropdown-item" (click)="navigator(x);">
                                    <i class="bi bi-folder me-2" *ngIf="x.id != id"></i>
                                    <i class="bi bi-folder2-open me-2 text-primary" *ngIf="x.id == id"></i>
                                    {{x.name}}</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" [routerLink]="[ '/book' ]"><i class="bi bi-share me-2"></i>
                                    Share to Me</a></li>
 
                            <!-- <li><a class="dropdown-item" (click)="open(contentNewBook)"><i class="bi bi-folder-plus me-2"></i> New Book</a>
                            </li> -->
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" target="_black" [href]="bookmark">Bookmark</a>
                    </li>
                </ul>

                <ul class="navbar-nav ">
                    
                    <li class="nav-item">
                        <a href="https://trello.com/b/NqIw938P/traddingapp" class="nav-link me-1"
                            target="_blank">
                              Report Bugs 
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:;" class="nav-link  text-dark me-1" (click)="openCollab()">
                             Invite Member 
                        </a>
                    </li>
                    <li class="nav-item ">
                        <!-- <a class="nav-link text-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
                            aria-controls="offcanvasScrolling"> 
                            <img style="margin-top: -4px;" [src]="picture" height="30" class="rounded-circle border border-2 border-white"> 
                        </a> -->
                        <div ngbDropdown class="d-inline-block">
                            <a class="nav-link text-dark" id="dropdownBasic1" ngbDropdownToggle>
                                <img style="margin-top: -4px;" [src]="picture" height="30"
                                    class="rounded-circle border border-2 border-white">
                            </a>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1"
                                class="dropdown-menu dropdown-menu-end">
                                <button ngbDropdownItem [routerLink]="[ '/profile/team' ]">
                                    <span class="mx-1"> <i class="bi bi-people"></i> </span> Setting</button> 
                                <button ngbDropdownItem (click)="logout()"> 
                                    <span class="mx-1"> <i class="bi bi-box-arrow-right"></i> </span> Logout</button>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>

<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1" id="offcanvasScrolling"
    aria-labelledby="offcanvasScrollingLabel">

    <div class="offcanvas-header border-bottom">
        <div class="offcanvas-title" id="offcanvasScrollingLabel">MIRREL.COM</div>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
        <div class="row g-1">
            <div class="col-12">

                <a class="d-block btn btn-outline-secondary border-0 text-start mb-1" href="javascript:;"
                    [routerLink]="[ '/profile/user/',accountId ]">
                    <div>
                        <span class="mx-1"> <i class="bi bi-person"></i> </span>
                        My Profile
                    </div>
                </a>
                <a class="d-block btn btn-outline-secondary border-0 text-start mb-1"
                    [routerLink]="[ '/profile/team' ]">
                    <div>
                        <span class="mx-1"> <i class="bi bi-people"></i> </span>
                        Managements
                    </div>
                </a>
               
                <a class="d-block btn btn-outline-secondary border-0 text-start mb-1"
                    [routerLink]="[ '/profile/security' ]">
                    <div>
                        <span class="mx-1"> <i class="bi bi-key"></i> </span>
                        Security & Password
                    </div>
                </a>
                <a class="d-block btn btn-outline-secondary border-0 text-start mb-1"
                    [routerLink]="[ '/profile/langreg' ]">
                    <div>
                        <span class="mx-1"> <i class="bi bi-globe-americas"></i> </span>
                        Language and Region
                    </div>
                </a>
                <a (click)="logout()" class="d-block btn btn-outline-secondary border-0 text-start mb-1"
                    href="javascript:;">
                    <div>
                        <span class="mx-1"> <i class="bi bi-box-arrow-right"></i> </span>
                        Logout
                    </div>
                </a>

            </div>
            <div class="col-6">

            </div>
        </div>
    </div>

</div>

<ng-template #contentNewBook let-modal>

    <div class="modal-body">
        <div class="row mb-3">
            <div class="col-6"> </div>
            <div class="col-6 text-end"> 
                <button type="button" class="btn-close" aria-label="Close"
                    (click)="modal.dismiss('Cross click')"></button> </div>
        </div>

        <form (ngSubmit)="onSubmitNewBook()" #heroForm="ngForm">
            <div class="mb-4 text-center">
                <img src="./assets/icon/icons8-book-100.png">
                <div>
                    <label for="bookname" class="mb-1">New book name</label>
                </div>
            </div>
            <div class="mb-4">
                <input type="text" class="form-control form-control-lg" id="bookname" required
                    [(ngModel)]="newBook.name" name="bookname" #bookname="ngModel">

                <div [hidden]="bookname.valid || bookname.pristine" class="text-danger mt-1">
                    Name is required
                </div>
            </div>
            <div class="text-end">
                <button type="button" class="btn btn-outline-dark px-3 mx-2"
                    (click)="modal.close('Save click')">Cancel</button>
                <button type="submit" class="btn btn-dark px-3" [disabled]="!heroForm.form.valid">Save</button>
            </div>
        </form>

    </div>

</ng-template>


<ng-template #contentGiveFeedBack let-modal>
    <div class="modal-body">
        <div class="row mb-3">
            <div class="col-6">Give Us Feedback </div>
            <div class="col-6 text-end"> <button type="button" class="btn-close"
                    (click)="modal.dismiss('Cross click')"></button> </div>
        </div>
    </div>
</ng-template>


<ng-template #contentReportBugs let-modal>

    <div class="modal-body">
        <div class="row mb-3">
            <div class="col-6">Report Bugs </div>
            <div class="col-6 text-end"> <button type="button" class="btn-close"
                    (click)="modal.dismiss('Cross click')"></button> </div>
        </div>

        <form (ngSubmit)="onSubmitNewBook()" #feedbackForm="ngForm">

            <div class="mb-4">
                <textarea class="form-control" [(ngModel)]="myRating.msg" rows="10" id="msg" name="msg"></textarea>
            </div>
            <div class="mb-4">
                <label>Upload Image</label>
            </div>
            <div class="mb-4 text-center rating">
                <ngb-rating [(rate)]="currentRate">
                    <ng-template let-fill="fill" let-index="index">
                        <i class="bi-star{{fill === 100 ? '-fill' : ''}} h4 me-1" [class.filled]="fill === 100"
                            [class.low]="index < 3"></i>
                    </ng-template>
                </ngb-rating>

            </div>
            <div class="mb-4">
                <div class="text-center">
                    <h5> My Rating {{currentRate}} </h5>
                </div>
            </div>

            <div class="text-end">
                <button type="button" class="btn btn-outline-dark px-3 mx-2"
                    (click)="modal.close('Save click')">Cancel</button>
                <button type="submit" class="btn btn-success px-3" [disabled]="!feedbackForm.form.valid">Send</button>
            </div>


        </form>

    </div>

</ng-template>