.scrollarea{
    overflow-y: auto;
    max-height: 30vh;
    padding-bottom: 10px;
}
label{
    font-size: 0.9rem;
}

.chartIcon:hover img{
    background-color: var(--color-style-1);
    cursor: pointer;
}