<div class="container-fluid">

    <div class="row g-2">

        <div class="col-12">
            <div class="bg-white rounded" style="border-left: 5px solid #8adf86">

                <div class="px-3 py-2">
 


                    <div class="row g-1">
                        <div class="col-md-9 col-12 order-2 order-md-1">

                            <div class="mx-lg-5" *ngIf="journalChart['chartjsTypeId'] == 0">
                                <div class="row">
                                    <div class="col-12 mb-3">
                                        <h6 class="mb-0 pb-0">Select the Type of Chart fist</h6>
                                        <small>You can change it later</small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2 col-md-4 col-6 mb-3 chartIcon" *ngFor="let x of typeOfChart"
                                        (click)="journalChart.chartjsTypeId=x.id">
                                        <img [src]="x.image" width="100%" class="p-1 border rounded ">
                                        <div class="px-2">
                                            <small>{{x.label}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="chartjs-body mx-1  ">
                                <canvas id="canvas">{{chart}}</canvas>
                            </div>

                        </div>
                        <div class="col-md-3 col-12 order-1 order-md-2">
                            <div class=" ">

                                <div class="mb-3">
                                    <label class="mb-1 mx-3"><b>Type of Chart</b></label>
                                    <select class="form-control" (change)="updateChartJs();"
                                        [(ngModel)]="journalChart.chartjsTypeId">
                                        <option [hidden]="journalChart.chartjsTypeId != 0">- Select -</option>
                                        <option *ngFor="let n of typeOfChart" [value]="n.id">{{n.label}}</option>
                                    </select>
                                </div>

                                <div class="mb-3" *ngIf="journalChart.chartjsTypeId != 0 ">
                                    <label class="mb-1 mx-3"><b>Label (X Axis) <div class="text-warning"
                                                *ngIf="journalChart.xAxis == '' ">Please select Label X Axis</div>
                                            </b></label>
                                    <select class="form-control " (change)="updateChartJs()"
                                        [ngClass]="{'border-warning': journalChart.xAxis == '' ? true : false }"
                                        [(ngModel)]="journalChart.xAxis">
                                        <option [hidden]="journalChart.xAxis != '' ">- Select -</option>
                                        <option *ngFor="let n of x" [value]="n.key" [hidden]="n.presence == '0'">
                                            {{n.name}} [{{n.iType}}]
                                        </option>
                                    </select>
                                </div>
 
                                <div class="mb-3">
                                    <label class="mb-1 mx-3"><b>Data Sets (Y Axis)</b></label>

                                    <div class="form-control scrollarea">
                                        <div class="row g-1 mb-1 ">
                                            <div class="col-9">
                                                 
                                            </div>
                                            <div class="col-3 text-end">
                                                <span class="mx-1" placement="top"  ngbTooltip="Select active" ><i class="bi bi-check-lg"></i></span>
                                                <span class="mx-2" placement="start"  ngbTooltip="With accumulation data">A</span>
                                            </div>

                                        </div>
                                        <div class="row g-1 mb-1 " [ngClass]="{'border-top': (i > 0) ? true : false}"
                                            *ngFor="let n of y; let i = index">
                                            <div class="col-9"
                                                [ngClass]="{'text-decoration-line-through': n.presence == '0'}">
                                                {{n.name}}
                                                <small *ngIf="n.iType == 'number'"><i class="bi bi-123"></i></small>
                                                <span *ngIf="n.iType == 'formula'"><img
                                                        src="./assets/icon/formula-30.png" class="icon"></span>
                                            </div>
                                            <div class="col-3 text-end">
                                                <span class="mx-1">
                                                    <i *ngIf="n.check == true" (click)="n.check = false;updateChartJs()"
                                                        class="bi bi-check-square-fill"></i>
                                                    <i *ngIf="n.check != true" (click)="n.check = true;updateChartJs()"
                                                        class="bi bi-square"></i>

                                                </span>
                                                <span class="mx-1">
                                                    <i *ngIf="n.accumulation == true"
                                                        (click)="n.accumulation = false;updateChartJs()"
                                                        class="bi bi-check-square-fill"></i>
                                                    <i *ngIf="n.accumulation != true"
                                                        (click)="n.accumulation = true;updateChartJs()"
                                                        class="bi bi-square"></i>
                                                </span>
                                            </div>

                                        </div>

                                    </div>

                                </div>
 
                                <div class="mb-3" *ngIf="iWhere.length > 0">
                                    <label class="mb-1 mx-3"><b>Filter</b></label>
                                    <select class="form-control" [(ngModel)]="journalChart.idWhere"
                                        (change)="updateChartJs()">
                                        <option value="">Show All</option>
                                        <option *ngFor="let n of iWhere" [value]="n.key">{{n.name}}</option>
                                    </select>

                                    <div class="form-control scrollarea mt-1" [hidden]="journalChart.idWhere == ''">
                                        <div class="row g-1 mb-1 " [ngClass]="{'border-top': (i > 0) ? true : false}"
                                            *ngFor="let n of returniWhereOption(); let i = index">

                                            <div class="col-10">
                                                {{n.value}}
                                            </div>
                                            <div class="col-2 text-end">
                                                <i *ngIf="n.checkbox == true"
                                                    (click)="n.checkbox = false;updateChartJs()"
                                                    class="bi bi-check-square-fill"></i>
                                                <i *ngIf="n.checkbox != true"
                                                    (click)="n.checkbox = true;updateChartJs()"
                                                    class="bi bi-square"></i>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>