<div class="container-fluid">
    <div class="row g-1">

        <div class="col-lg-4 col-12">
            <div class="sticky-top mt-1">
                <div class="border bg-white rounded p-3 ">
                    table CHART
                </div>
            </div>
        </div>


        <div class="col-lg-8 col-12">

            <div class="border bg-white rounded p-3 mt-1">

                <div class="row">
                    <div class="col-8">
                        <h4 placement="top-left" ngbTooltip="Tooltip on top">Title of setup trading</h4>
                    </div>
                    <div class="col-4 text-end">
                        <div class="d-flex flex-row-reverse ">
                            <div>
                                <a href="javascript:;" class="btn btn-outline-dark" placement="top-right" (click)="openModalFullscreen(contentCustomField)" ngbTooltip="Tooltip on top"><i  class="bi bi-gear"></i></a>
                            </div>

                            <div ngbDropdown container="body" class="mx-1">
                                <button type="button" class="btn btn-outline-dark " ngbDropdownToggle>Share
                                    Link</button>
                                <div ngbDropdownMenu>
                                    <button ngbDropdownItem>Edit</button>
                                    <button ngbDropdownItem>Duplicate</button>
                                    <button ngbDropdownItem>Move</button>
                                    <div class="dropdown-divider"></div>
                                    <button ngbDropdownItem>Delete</button>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-12">
                        <div>
                            <label>
                                https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/?share=sha384-9ndCyUaIbzAi
                            </label>
                            <a href="" class="badge bg-info mx-2">Copy Link</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="border bg-white rounded mt-1">

                <div class="tables-body">
                    <div class="sticky-top">
                        <div class="d-flex tables-header-td bg-white">
                            <div class="floating-div bg-white">
                                <div class="py-1 px-2">
                                    <i class="bi bi-check-square-fill text-primary"></i>
                                </div>
                            </div>
                            <div class=" order-1 bg-white">
                                <div class="p-1 text-center orders">Market</div>
                            </div>
                            <div class=" order-2 bg-white">
                                <div class="p-1 text-center orders"> Position </div>
                            </div>
                            <div class=" order-3 bg-white">
                                <div class="p-1 text-center orders">Stop Loss </div>
                            </div>
                            <div class=" order-4 bg-white">
                                <div class="p-1 text-center orders">Risk Ratio</div>
                            </div>
                            <div class=" order-5 bg-white">
                                <div class="p-1 text-center orders">Take Profit </div>
                            </div>
                            <div class=" order-6 bg-white">
                                <div class="p-1 text-center orders">Order Date</div>
                            </div>
                            <div class=" order-7 bg-white">
                                <div class="p-1 text-center orders">Close Date</div>
                            </div>
                            <div class=" order-7 bg-white">
                                <div class="p-1 text-center orders">Notes</div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex tables-body-td" *ngFor="let item of items">
                        <div class="floating-div bg-white">
                            <div class="py-1  px-2 ">
                                <i class="bi bi-square"></i>
                            </div>
                        </div>
                        <div class=" order-1 ">
                            <div class="orders text-center">
                                <div ngbDropdown>
                                    <div id="dropdownForm2" class="bg-warning select p-1" ngbDropdownToggle>
                                        toggle
                                    </div>
                                    <div ngbDropdownMenu aria-labelledby="dropdownForm2">
                                        dfagsfdg
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" order-2">
                            <div class="orders"> <input type="number" class="p-1" value="123"></div>
                        </div>
                        <div class=" order-3">
                            <div class="orders"> <input type="text" class="p-1" value="123"></div>
                        </div>
                        <div class=" order-4">
                            <div class="orders"> <input type="text" class="p-1" value="123"> </div>
                        </div>
                        <div class=" order-5">
                            <div class="orders"><input type="text" class="p-1" value="123"></div>
                        </div>
                        <div class=" order-6">
                            <div class="orders text-center">
                                <div ngbDropdown>
                                    <div id="dropdownForm2" class=" p-1" ngbDropdownToggle>
                                        <small>2023-01-10 23:25</small>
                                    </div>
                                    <div ngbDropdownMenu aria-labelledby="dropdownForm2">
                                        dfagsfdg
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" order-7">
                            <div class="orders"><input type="text" class="p-1" value="123"></div>
                        </div>
                        <div class=" order-7">
                            <div class="orders ">
                                <div class="p-1 text-center">
                                    <a href="javascript:;" (click)="openCanvas(content)">
                                        <small><i class="bi bi-chat"></i> Add Notes</small>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




<ng-template #content let-offcanvas>
    <div class="offcanvas-header">
        <div class="offcanvas-title" id="offcanvas-basic-title">Profile update</div>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body">
        <form>
            <div class="mb-3">
                <label for="dateOfBirth">Date of birth</label>
                <div class="input-group">
                    <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                        #dp="ngbDatepicker" />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp.toggle()"
                        type="button"></button>
                </div>
            </div>
        </form>
        <div class="text-end">
            <button type="button" class="btn btn-outline-dark" (click)="offcanvas.close('Save click')">Save</button>
        </div>
    </div>
</ng-template>


<ng-template #contentCustomField let-modal>
	<div class="modal-header">
		<div class="modal-title">Custom Fields</div>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		 <div class="container">
            <div class="row">
                <div class="col-6 text-end">asdfadsf</div>
                <div class="col-6">asdfadsf</div>
                
            </div>
         </div>
	</div>
	 
</ng-template>