<div class="d-flex">
    <div class="flex-grow-1">
        <input class="form-control form-control-lg border-0" placeholder="" 
        *ngIf="journal.owner != '0'" [(ngModel)]="item.name" (change)="onSubmit()" #itemName (keyup.enter)="itemName.blur()">

        <div class="form-control form-control-lg border-0 p-0" *ngIf="journal.owner == '0'">
            {{ item.name}}
        </div>
    </div>
    <div class="px-2">
        <div class="align-self-center me-3" >
            <div class="d-flex">
                <div>
                    <img [src]="journal.picture" height="34" class="rounded-circle me-2">
                </div>
                <div class="align-self-center">
                    <!-- <small style="font-size: 0.8rem;"><i class="bi bi-lock"></i></small> -->
                    <div>{{journal.ownBy}} </div>
                </div>
            </div>

        </div>
    </div>
    <div class="align-self-center">
        <a href="javascript:;" class="btn btn-outline-dark btn-sm me-1" (click)="openComponent('ShareBoardComponent','')" (newItemEvent)="onChild($event)"><i class="bi bi-person-plus"></i> Share</a>
    </div>
</div>
