<div class="row ">
    <div class="col-8">
        <input class="form-control form-control-lg border-0 p-0" placeholder="" *ngIf="journal.owner != '0'"
            [(ngModel)]="item.name" (change)="onSubmit()" #itemName (keyup.enter)="itemName.blur()">

        <div class="form-control form-control-lg border-0 p-0" *ngIf="journal.owner == '0'">
            {{ item.name}}
        </div>
    </div>

    <div class="col-4 text-end align-self-center" >
        <div *ngIf="loading == true" class="text-end">
            <button type="button" class="btn btn-sm text-dark mx-1" disabled>
                <img src="./assets/gif/sm-loading.gif" height="20">
                Loading..</button>
        </div>
        <div class="d-flex flex-row-reverse " *ngIf="loading == false"> 
            <div > 
                <a href="javascript:;" class="btn btn-outline-dark btn-sm me-1"
                    (click)="openComponent('ShareBoardComponent','')" (newItemEvent)="onChild($event)"><i
                        class="bi bi-person-plus"></i> Share</a>
            </div>

            <div class="me-2" [hidden]="fnPermission(item.permissionId)['share'] != 1" placement="top" *ngIf="journal.owner != '0'"
                ngbTooltip="http://localhost:4200/#/board/{{journal.url}}">
                <button [cdkCopyToClipboard]="'http://localhost:4200/#/board/{{journal.url}}'"
                    class="btn btn-sm text-dark mx-1"><i class="bi bi-link-45deg"></i> Copy</button>
            </div>

            <div class="align-self-center me-2">
                <div class="d-flex">
                    <div>
                        <img [src]="journal.picture" height="24" class="rounded-circle me-2">
                    </div>
                    <div>
                        {{journal.ownBy}} 
                    </div>
                </div>
            
            </div>
        </div>
    </div>
 

</div>