<div class="modal-header">
    <h4>Share "{{item.name}}"</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="close();"></button>
</div>
<div class="modal-body">

    <div class="row mb-2">
        <div class="col-12 mb-4">
            <div>
                <strong>General access</strong>
            </div>
            <div ngbDropdown class="mb-3">
                <button type="button" class="btn   btn-light " id="dropdownBasic1" ngbDropdownToggle>
                    <span [innerHTML]="item.fontIcon" class="mx-2"></span> {{item.permission}}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem (click)="onUpdatePermission(x)" *ngFor="let x of permission">
                        <span [innerHTML]="x.fontIcon" class="me-2"></span> {{x.name}}
                    </button>
                </div>
            </div>

            <div class="mb-2" *ngIf="item.permissionId == '20'">
                <div class="mb-1">
                    <small>Only people with access can open with the link</small>
                </div>
                <div class="input-group input-group-sm ">
                    <input type="text" class="form-control bg-light" [value]="env.shareLink+item.url" readonly>
                    <button class="btn btn-outline-secondary" [cdkCopyToClipboard]="env.shareLink+item.url"
                        type="button" id="button-addon1"><i class="bi bi-link-45deg"></i> Copy Share Link</button>
                </div>
            </div>
        </div>

        <div class="col-12 mb-1">
            <strong> Invite a new member with link to collaboration this board</strong>
        </div>
    </div>

    <div class="row mb-2" *ngFor="let x of journalAccess">

        <div class="col-9">
            <div>
                <strong> {{x.name}} </strong>{{x.owner == '1' ? "(you)":""}}
            </div>
            <small>{{x.email}}</small>
        </div>
        <div class="col-3 align-self-center text-end">
            <span *ngIf="x.owner == '1'">
                Owner
            </span>
            <span *ngIf="x.owner != '1'">
                <a (click)="onRemoveAccess(x)"> <i class="bi bi-x-circle"></i> </a>
            </span>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12 mb-3">

            <input id="typeahead-template" type="text" class="form-control col" [(ngModel)]="model"
                placeholder="Add Team by Name" [ngbTypeahead]="search" [resultTemplate]="rt"
                [inputFormatter]="formatter" (keydown.enter)="onSubmitUser()" />

        </div>
        <div class="col-12" *ngIf="note != ''">
            <div class="alert alert-warning" [innerHTML]="note"></div>
        </div>
        <div class="col-12">

        </div>
    </div>



    <div class="row mt-4">
        <div class="col-8">
            <button type="button" (click)="fnCb2();" [cdkCopyToClipboard]="env.inviteLink+item.url"
                class="btn btn-outline-dark btn-sm rounded-pill"> <i class="bi bi-link-45deg"></i> Copy
                Invite Link </button>
            <small class="mx-2">{{cb2note}}</small>
        </div>
        <div class="col-4 text-end">
            <button type="button" class="btn btn-dark" (click)="close();">Done</button>
        </div>

    </div>




    <ng-template #rt let-r="result" let-t="term">
        <img [src]="r['picture']" class="me-2 rounded-circle" height="25" />
        <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
    </ng-template>


    <hr />
    <pre>Model: {{ model | json }}</pre>
</div>