<div class="modal-header" *ngIf="showSearchPhoto !== true">
    <strong>{{item.name}}</strong>
    <button type="button" class="btn-close" aria-label="Close" (click)="close();"></button>
</div>
<div class="p-4 pb-2" *ngIf="showSearchPhoto === true">
    <div class="row">
        <div class="col-1 align-self-center">
            <span (click)="showSearchPhoto=false" class="h4"><i class="bi bi-arrow-left"></i></span>
        </div>
        <div class="col-10 text-center">
            <h6>Photos by <a href="https://unsplash.com/?utm_source=mirrel&utm_medium=referral"
                    target="_blank"><b>Unsplash.com</b></a></h6>
        </div>
        <div class="col-1 text-end align-self-center">
            <button type="button" class="btn-close" aria-label="Close" (click)="close();"></button>
        </div>
    </div>

</div>
<!-- SHARE MODAL -->
<div class="modal-body " *ngIf="showSearchPhoto !== true">
    <div class="row pb-3">
        <div class="col-md-5 col-12">
            <div class="p-3 border rounded shadow-sm">
                <div class="mb-3 pointer">
                    <img *ngIf="item.owner == '1' " [src]="item.image" width="100%" (click)="showSearchPhoto=true"
                        placement="top" ngbTooltip="Change photos">
                    <img *ngIf="item.owner == '0' " [src]="item.image" width="100%">
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-6 align-self-center ">
                            <strong>General access :</strong>
                        </div>
                        <div class="col-6 align-self-center ">
                            <div *ngIf="item.owner == '0' " class="form-control bg-light">
                                <span [innerHTML]="item.fontIcon" class="mx-2"></span> {{item.permission}}
                            </div>
                            <div ngbDropdown *ngIf="item.owner == '1' ">
                                <button type="button" class="btn btn-light" id="dropdownBasic1" ngbDropdownToggle>
                                    <span [innerHTML]="item.fontIcon" class="mx-2"></span> {{item.permission}}
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button ngbDropdownItem (click)="onUpdatePermission(x)"
                                        *ngFor="let x of permission">
                                        <span [innerHTML]="x.fontIcon" class="me-2"></span> {{x.name}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="mb-2" *ngIf="item.permissionId == '20'">
                    <div class="mb-1">
                        <h5>
                            <img src="./assets/icon/share-50.png" width="25"> Share
                        </h5>
                        <div class="lh-sm mb-2">
                            <small>This journal can be accessed by everyone with this link</small>
                        </div>
                    </div>
                    <div class="input-group input-group-sm "> 
                        <input type="text" class="form-control bg-light" [value]="env.shareLink+item.url+'/'+item.url_title" readonly>
                        <button class="btn btn-outline-secondary" [cdkCopyToClipboard]="env.shareLink+item.url+'/'+item.url_title"
                            type="button" id="button-addon1"><i class="bi bi-link-45deg"></i> Copy</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-7 col-12 border-start">

            <div class="row mb-2">
                <div class="col-6 mb-2">
                    <h5>
                        <img src="./assets/icon/collaboration-50.png" width="25" class="me-2"> Collaboration
                    </h5>
                </div>
                <div class="col-6 text-end">
                    <small class="mx-2">{{cb2note}}</small>
                </div>
            </div>

            <div class="row">
                <div class="col-12 mb-2">
                    <strong>Invite a new member with link to collaboration this board</strong>
                </div>
                <div class="col-12 mb-2">
                    <div class="input-group input-group-sm ">
                        <input type="text" class="form-control bg-light" [value]="env.inviteLink+inviteLink" readonly>
                        <button class="btn btn-outline-secondary" (click)="fnCb2();"
                            [cdkCopyToClipboard]="env.inviteLink+inviteLink" type="button" id="button-addon1"><i
                                class="bi bi-link-45deg"></i> Copy Invite Link</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="center-line my-2">
                        <div class="line"></div>
                        <div class="mx-3"><small>OR</small></div>
                        <div class="line"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 mb-2">
                    <strong> Invite a new member base on your collaboration </strong>
                </div>
            </div>



            <div class="cmaxHeight px-3">
                <div class="row py-2 divHover pointer" *ngFor="let x of journalAccess">

                    <div class="col-10">
                        <div class="d-flex">
                            <div>
                                <img [src]="x.picture" height="35" class="me-2 rounded-circle">
                            </div>
                            <div>
                                <div class="lh-1">
                                    <strong> {{x.name}} </strong><sup>{{x.owner == '1' ? "Admin":""}}</sup>
                                </div>
                                <small>{{x.email}}</small>
                            </div>
                        </div>

                    </div>
                    <div class="col-2 align-self-center text-center">
                        <span *ngIf="x.owner == '1'">
                            Owner
                        </span>
                        <span *ngIf="x.owner != '1'">
                            <a (click)="onRemoveAccess(x)" *ngIf="item.owner == '1' "> <i class="bi bi-x-circle"></i>
                            </a>
                        </span>
                    </div>
                </div> 
            </div>

            <div class="row my-2" *ngIf="item.owner == '1' ">
                <div class="col-12" *ngIf="note != ''">
                    <div class="alert alert-warning" [innerHTML]="note"></div>
                </div>
                <div class="col-12 mb-3">
                    <input id="typeahead-template" type="text" class="form-control col" [(ngModel)]="model"
                        placeholder="Add Team by Name" [ngbTypeahead]="search" [resultTemplate]="rt"
                        [inputFormatter]="formatter" (keydown.enter)="onSubmitUser()" />
                </div>
               
            </div>

            <ng-template #rt let-r="result" let-t="term">
                <img [src]="r['picture']" class="me-2 rounded-circle" height="25" />
                <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
            </ng-template>

        </div>
    </div>
</div>


<!-- UNSPLASH -->
<div class="modal-body" *ngIf="showSearchPhoto === true">
    <div class="row mb-3 g-1">
        <div class="col-10">
            <input type="text" class="form-control" placeholder="Search photos, power by unsplash.com"
                [(ngModel)]="searchPhotos" (keyup.enter)="unsplash()">
        </div>
        <div class="col-2 d-grid">
            <button type="button" class="btn btn-primary" (click)="unsplash()">Search</button>
        </div>
    </div>

    <div class="row g-1">
        <div class="col-12 py-2">
            <div class="row g-1">
                <div class="col-8">
                    <span *ngIf="photosTotal > 0">
                        About <b>{{photosTotal | number}}</b> results of "{{searchPhotos}}"
                    </span>
                </div>
                <div class="col-4 text-end" *ngIf="!loading">
                    Page : {{page}}
                    <button type="button" class="btn btn-sm btn-light mx-1" *ngIf="page > 1"
                        (click)="fnPrev()">Prev</button>
                    <button type="button" class="btn btn-sm btn-light mx-1" (click)="fnNext()">Next</button>
                </div>
            </div>

        </div>
        <div class="col-12 text-center py-5 " *ngIf="loading">
            Loading...
        </div>
        <div class="maxHeightUnsplash p-1">
            <div class="row g-1">
                <div class="col-md-3 col-4 mb-2" *ngFor="let x of photos">

                    <img [src]="x.urls.raw+'&fit=crop&w=300&h=200&dpr=1'" width="100%" class="shadow-sm border"
                        (click)="updatePhoto(x.urls.raw+'&fit=crop&w=900&h=600&dpr=1');">

                    <div class="lh-1 px-2">
                        <small>Photo by <a [href]="x.links.html" target="_blank"><u>{{x.user.name}}</u></a> </small>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>