<div class="offcanvas-header">
    <strong class="offcanvas-title" id="offcanvas-basic-title">Images</strong>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>

<div class="offcanvas-body">
    <img src="https://picsum.photos/500/300" width="100%">
    <img src="https://picsum.photos/500/300" width="100%">
    <img src="https://picsum.photos/500/300" width="100%">
    <img src="https://picsum.photos/500/300" width="100%">
    <img src="https://picsum.photos/500/300" width="100%">

</div>