.btn-active{
    border-radius: 0px;
    border-bottom: 5px solid var(--color-style-2);
}

.max{
    max-width: calc(100vw - 50px);
}
.divHiden{
    display: none;
}
.minWidth{
    min-width: 82px;
    position: relative;
   
}
.minWidth .minWidth_menu{ 
    position: absolute;
    right: 2px;
    top: 0px;
}

.minWidth a{
    display: inline-block;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}