<div class="border-bottom mb-2">
    <div class="carouselx">
        <div *ngFor="let x of items; let i = index" class="minWidth "> 
            <a class="btn btn-sm ps-0 {{i> 0 ? 'pe-4':''}} mx-2 " [ngClass]="{'btn-active': x.id == journalTableViewId}" (click)="goToView(x);">
                <i *ngIf="x.ilock == '1'" class="bi bi-house"></i>
                {{x.name}}
            </a>
            <div class="minWidth_menu"> 
                <div class="btn-group pe-2" ngbDropdown container="body" role="group" [hidden]="x.ilock == '1'"
                    aria-label="Button group with nested dropdown">
                    <a ngbDropdownToggle></a>
                    <div class="dropdown-menu" ngbDropdownMenu style="width: 240px;">
                        <div class="p-2">
                            <div class="mb-2">
                                <small>Edit Board View</small>
                            </div>

                            <div class="mb-2">
                                <input type="text" class="form-control" [(ngModel)]="x.tempName" name="name"
                                    placeholder="{{x.name}}" maxlength="50">
                            </div>
                            <div class="mb-2 mx-3">
                                <div class="row">
                                    <div class="col-10">
                                        <span [ngClass]="{'text-gray': x.share == '0'}">Share</span>
                                    </div>
                                    <div class="col-2">
                                        <span *ngIf="x.share == '1'" (click)="x.share = '0'"><i
                                                class="bi bi-check-square"></i></span>
                                        <span *ngIf="x.share != '1'" (click)="x.share = '1'"><i
                                                class="bi bi-square"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2 ">
                                <button class="btn bg-light text-center border" ngbDropdownItem
                                    (click)="update(x);"> Update</button>
                            </div>
                            <div class="mb-2" *ngIf="journalAccess.owner == '1' ">
                                <button class="btn bg-danger text-center text-white" ngbDropdownItem
                                    (click)="delete(x);open(content)"> Delete</button>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>


        <div>
            <div ngbDropdown class="d-inline-block" container="body">
                <button type="button" class="btn btn-sm" id="dropdownForm1" ngbDropdownToggle>
                    <i class="bi bi-plus-lg"></i> Add View
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownForm1" style="width: 240px;">
                    <div class="p-2">
                        <div class="mb-3 mx-3">
                            <small>Add Board View</small>
                        </div>
                        <div class="list-group list-group-flush">
                            <button type="button" (click)="addView('table');open(content)" ngbDropdownItem
                                class="list-group-item list-group-item-action"><i class="bi bi-table me-3"></i>
                                Table</button>
                            <button type="button" (click)="addView('chart');open(content)" ngbDropdownItem
                                class="list-group-item list-group-item-action"><i class="bi bi-graph-up  me-3"></i>
                                Chart</button>
                            <!-- <button type="button" class="list-group-item list-group-item-action disabled"><i  class="bi bi-kanban-fill  me-3"></i> Kanban</button>

                            <button type="button" class="list-group-item list-group-item-action"><i   class="bi bi-pencil-square me-3"></i> Form</button>
                            <button type="button" class="list-group-item list-group-item-action "><i
                                    class="bi bi-check2-square me-3"></i> Check List</button>

                            <button type="button" class="list-group-item list-group-item-action disabled"><i
                                    class="bi bi-calendar2-range me-3"></i> Gantt Chart</button>

                            <button type="button" class="list-group-item list-group-item-action disabled"><i
                                    class="bi bi-calendar3 me-3"></i> Calendar</button> -->

                        </div>
                    </div>

                </div>
            </div>
        </div>
         
    </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">


    <div class="modal-body">
        <div class="row">
            <div class="col-12 text-center my-5">
                <img src="./assets/gif/output-onlinegiftools.gif" width="40%" class="mb-4">
                <h4>Almost done..</h4>
                <p>Our Robot is working for you.</p>
            </div>
        </div>
    </div>

</ng-template>