<div class="container-fluid">
    <div class="row g-1">
        <div class="col-9">
            <input class="form-control form-control-sm" placeholder="" [(ngModel)]="item.name" (change)="onUpdate()">
        </div>
        <div class="col-3">
            <select class="form-control form-control-sm" [(ngModel)]="item.permissionId" (change)="onUpdate()">
                <option value="1">Private</option>
                <option value="20">Share</option>
                <option value="30">Share + Comments</option>
            </select>
        </div>
    </div>
    <div class="row g-2">

        <div class="col-5 border">
            <google-chart style='height: 300px; width: 100%;' 
            [title]="chart.title" [type]="chart.type" [data]="chart.data" [options]="chart.options">
            </google-chart>
{{summary |json}}
            <div>
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <td>Winrate </td>
                            <td>: 42%</td>
                        </tr>
                        <tr>
                            <td>Total Pip</td>
                            <td>: {{summary.totalPip}} pip</td>
                        </tr>
                       <tr>
                            <td>Average Pip</td>
                            <td>: {{summary.averagePip | number : '1.2-2'}} pip</td>
                        </tr>
                        <tr>
                            <td>Average RR</td>
                            <td>: {{summary.averageRr | number : '1.2-2'}} pip</td>
                        </tr>
                      
                        <tr>
                            <td>Consecutive win</td>
                            <td>: {{summary.consecutiveWin}}</td>
                        </tr>
                        <tr>
                            <td>Consecutive Loss</td>
                            <td>: {{summary.consecutiveLoss}}</td>
                        </tr>

                        <tr>
                            <td>Avarage Trading Time</td>
                            <td>: {{summary.avaregeTradingTime}} hours</td>
                        </tr>
                        <tr>
                            <td>Max Trading Time</td>
                            <td>: 2 hours</td>
                        </tr>
                        <tr>
                            <td>Min Trading Time</td>
                            <td>: 15 hours</td>
                        </tr>

                        <tr>
                            <td>Avarage Holding Time</td>
                            <td>: 5 days</td>
                        </tr>

                        <tr>
                            <td>Max Holding Time</td>
                            <td>: 1 days</td>
                        </tr>
                        <tr>
                            <td>Min Holding Time</td>
                            <td>: 25 days</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-7">
            <div class="border my-3" *ngFor="let x of detail; let i = index">

                <div class="row g-1">
                    <div class="col-2">
                        <select class="form-control form-control-sm" [(ngModel)]="x.marketId" name="marketId" (change)="onUpdate()">
                            <option *ngFor="let x of selectMarket" [value]="x.id">{{x.name}}</option> 
                        </select>
                    </div>
                    <div class="col-2">
                      
                          <select class="form-control form-control-sm" [(ngModel)]="x.positionId" name="positionId" (change)="onUpdate()">
                            <option value="1">BUY</option>
                            <option value="2">SELL</option>
                        </select>  
                    </div>
                    <div class="col-2">
                        <input type="number" class="form-control form-control-sm" placeholder="SL" [(ngModel)]="x.sl" name="sl" (change)="onUpdate()">
                    </div>

                    <div class="col-2">

                        <input type="number" class="form-control form-control-sm" placeholder="RR" [(ngModel)]="x.rr" name="rr" (change)="onUpdate()">
                    </div>

                    <div class="col-2">

                        <input type="text" class="form-control form-control-sm" placeholder="TP" [(ngModel)]="x.tp" name="tp" readonly>
                    </div>

                    <div class="col-2">
                         <select class="form-control form-control-sm" [(ngModel)]="x.resultId" name="resultId" disabled (change)="onUpdate()">
                            <option value="">-</option>
                            <option value="1">WIN</option> 
                            <option value="0">BEP</option>  
                            <option value="-1">LOSS</option>
                        </select>  
                     
                    </div>

                </div>
                <div class="row g-1">
                    <div class="col-5">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm" name="openDate" 
                            [(ngModel)]="x.openDate" (ngModelChange)="copyToOpenDate(x,i)" ngbDatepicker #od="ngbDatepicker" placeholder="Open Order">
                            <button class="btn btn-light border btn-sm bi bi-calendar3" (click)="od.toggle()" type="button"></button>

                            <input type="time" class="form-control form-control-sm" [(ngModel)]="x.openTime" (change)="onUpdate()" name="openTime">
                        </div>
                    </div>
                    <div class="col-5">

                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm" name="closeDate" 
                            [(ngModel)]="x.closeDate"  (ngModelChange)="onUpdate()" ngbDatepicker #cd="ngbDatepicker" placeholder="Close Order" [minDate]="x.openDate">
                            <button class="btn btn-light border btn-sm bi bi-calendar3" (click)="cd.toggle()" type="button"></button>

                            <input type="time" class="form-control form-control-sm" [(ngModel)]="x.closeTime" (change)="onUpdate()" name="closeTime">
                        </div>
                    </div>

                    <div class="col-2 text-end">
                        <a>Images</a>
                    </div>
                </div>
                <div class="row g-1">
                    <div class="col-6">
                        <a>Notes</a>
                    </div>
                    <div class="col-6 text-end">
                        <a>Remove</a>
                    </div>
                </div>

            </div>

          
            <div class="row">
                <div class="col-12">
                    <div class="d-grid py-1">
                        <button type="button" class="btn btn-primary" (click)="fnAddItems()">ADD ITEMS</button>
                    </div>
                </div>
            </div>
          <div class="lh-1">
            <code> {{detail | json}}</code>
          </div>
        </div>

    </div>
</div>
{{item | json}}