/* set the unit abbreviation for each unit class */
.customFieldArea {
    display: inline-block;
    position: relative;
}

/* position the unit to the right of the wrapper */
.customFieldArea::after {
    position: absolute;
    top: 2px;
    right: 0em;
    transition: all .05s ease-in-out;
}

.customFieldArea:hover::after,
.customFieldArea:focus-within::after {
    right: 0em;
}

/* handle Firefox (arrows always shown) */
@supports (-moz-appearance:none) {
    .customFieldArea::after {
        right: 0em;
    }
}

.percent::after {
    content: '%';
}

.cut-text {  
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}