<div *ngIf="item['itype']=='text' || item['itype']=='number' ">
    <div class="d-flex">
        <div style="width: 100%;">
            <input [type]="item['itype']" class="p-1 {{'text-'+childItem['customField']['textAlign']}}" maxlength="250"
                [(ngModel)]="childItem['value']" #customFieldText (keyup.enter)="customFieldText.blur()"
                (change)="emitToParent(childItem);" [disabled]="item['ilock']===true"
                [ngClass]="{'text-gray': item['itype'] == 'date' && !childItem['value']}">
        </div>
        <div class="mx-1 py-1" *ngIf="item['customField']['suffix']">
            <small>{{item['customField']['suffix']}}</small>
        </div>
    </div>

</div>

<div *ngIf="item['itype']=='date'">
  
    <div class="d-flex">
        <div>
             <input type="text" class="p-1" name="dp" readonly [(ngModel)]="childItem['value']"
                [placeholder]="formatDate(childItem['value'])" (ngModelChange)="emitToParent(childItem);" ngbDatepicker
                #d="ngbDatepicker" /> 
             <!-- {{childItem['value'] }}  |  {{childItem['value'].length > 6 ? true : false}}   -->

        </div>
        <div *ngIf="item['ilock']!=true">
           <button class="btn btn-sm bi bi-calendar3" (click)="d.toggle()" type="button"></button>
        </div>
       
    </div>

</div>


<div *ngIf="item['itype']=='time'">
    <div class="mx-2 " >  
        <div class="d-flex justify-content-center"> 
            <!-- <div style="width: 3rem;">
                <input type="number"  class="p-1 text-center"  >
            </div>
            <div>:</div>
            <div style="width: 3rem;">
                <input type="number" class="p-1 text-center">
            </div> -->

            <input type="text" class="p-1 {{'text-'+childItem['customField']['textAlign']}}" maxlength="250"
            [(ngModel)]="childItem['value']" #customFieldText [disabled]="item['ilock']===true"
            (keyup.enter)="customFieldText.blur()" (change)="emitToParent(childItem);" placeholder="HH:MM"
            [ngClass]="{'text-gray': item['itype'] == 'date' && !childItem['value']}">
        </div>
    </div>

</div>

<span *ngIf="item['itype']=='select'">
    <div *ngIf="item['ilock']===true">
        <div class="select p-1 text-center " [ngClass]="{'text-white': background(childItem['value']) != 'auto' }"
            [ngStyle]="{'background': background(childItem['value'])}"
            [innerHTML]="fnChildItemSelectOption(childItem['value'])">
        </div>
    </div>


    <div ngbDropdown container="body" *ngIf="item['ilock']!==true">
        <div id="dropdownForm2" class="select p-1 text-center " ngbDropdownToggle
            [ngClass]="{'text-white': background(childItem['value']) != 'auto' }"
            [ngStyle]="{'background': background(childItem['value'])}"
            [innerHTML]="fnChildItemSelectOption(childItem['value'])">
            <!-- {{childItem['value']}} -->

        </div>
        <div ngbDropdownMenu aria-labelledby="dropdownForm2">
            <div style="width: 200px;" class="p-2 d-grid">
                <div class="mb-3">
                    <input type="text" class="form-control form-control-sm" placeholder="Search Option">
                </div>
                <div class="mb-1 d-grid" style="overflow-y: auto; max-height: 200px;">
                    <button class="btn mb-1 text-center text-white" [ngStyle]="{'background': x.color}"
                        (click)="emitSelectToParent(x.id);" ngbDropdownItem
                        *ngFor="let x of childItem.select.option">{{x.value}}</button>
                </div>
                <hr>
                <button type="button" class="btn btn-outline-light border text-black mb-1 text-center"
                    (click)="emitModalEditSelect();" ngbDropdownItem><i class="bi bi-pencil"></i> Edit
                    Select</button>
            </div>

        </div>
    </div>
</span>

<div *ngIf="item['itype']=='note' ">
    <div class="p-1 text-center">
        <a href="javascript:;" (click)="emitToParent(childItem)">
            <small><i class="bi bi-chat"></i> <span *ngIf="item['ilock']!==true"></span> Notes</small>
        </a>
    </div>
</div>

<div *ngIf="item['itype']=='image'">
    <div class="p-1 text-center">
        <a href="javascript:;" (click)="emitToParent(childItem)">
            <small> <i class="bi bi-images"></i> Images</small>
        </a>
    </div>
</div>

<div *ngIf="item['itype']=='url'" class="p-1">
    <div class="" [ngClass]="{'d-flex': childItem['value']}">

        <small class="cut-text mt-1" style="width: inherit;" [hidden]="!childItem['value']">
            <a [href]="childItem['value']" target="_blank">{{childItem['value']}}</a>
        </small>
        <div class="text-end" *ngIf="item['ilock']!==true">
            <div ngbDropdown container="body">
                <div id="dropdownForm3" ngbDropdownToggle>
                    <i class="bi bi-pencil-square"></i>
                </div>
                <div ngbDropdownMenu aria-labelledby="dropdownForm3">
                    <div style="width: 300px;" class="p-2 d-grid">
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="childItem['value']"
                                placeholder="https://yoururl.here">
                        </div>
                        <button type="button" class="btn btn-outline-light border text-black mb-1 text-center"
                            (click)="updateUrl();" ngbDropdownItem> Save</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div *ngIf=" item['itype']=='formula'">
    <div class="p-1 {{'text-'+childItem['customField']['textAlign']}} " [ngClass]="{'disabled': item['ilock'] == true}">
        <small><b>{{isNumber(childItem['value'])}}</b></small>
    </div>
</div>

<span *ngIf="item['itype']=='user'">
    <div *ngIf="item['ilock']===true">
        <div class="select text-center " style="padding-top: 2px;"
            [innerHTML]="fnChildItemSelectOptionUser(childItem['value'])">
        </div>
    </div>



    <div ngbDropdown container="body" *ngIf="item['ilock']!==true">
        <div id="dropdownForm2" class="select   text-center " ngbDropdownToggle style="padding-top: 2px;"
            [innerHTML]="fnChildItemSelectOptionUser(childItem['value'])">
        </div>

        <div ngbDropdownMenu aria-labelledby="dropdownForm2">
            <div style="width: 250px;" class="p-2">
                <small>Select User</small>

                <div style="overflow-y: auto; max-height: 200px;" class="my-2 pointer">
                    <div *ngFor="let x of childItem.select.users" (click)="emitSelectToParent(x.accountId);"
                        ngbDropdownItem class="d-flex mb-1">
                        <div>
                            <img [src]="x.picture" class="rounded-circle border me-2" height="25">
                        </div>
                        <div class="align-self-center">
                            {{x.value}}
                        </div>
                    </div>
                </div>

                <hr>

                <div class="mb-3 text-center">
                    <small><i class="bi bi-person-plus me-2"></i> Invite a new member with link</small>
                </div>
                <input type="text" class="form-control form-control-sm mb-2" readonly
                    value="https://www.evernote.com/client/web?login=true#/note/39c535f7-6f8f-47be-a3d2-f9e9b8d431ce"
                    #userinput>

                <div class="d-grid">
                    <button type="button" class="btn btn-outline-success btn-sm" (click)="copyInputMessage(userinput)">
                        <i class="bi bi-clipboard me-2" *ngIf="copyClipboard == false"></i>
                        <i class="bi bi-clipboard-check-fill me-2" *ngIf="copyClipboard != false"></i>
                        Copy to Clipboard
                    </button>
                </div>

                <!-- <div class="mb-1 d-grid" style="overflow-y: auto; max-height: 200px;">
                    <button class="btn btn-primary mb-1 text-center" (click)="emitSelectToParent(x.id);" ngbDropdownItem
                        *ngFor="let x of childItem.select.users">{{x.value}}</button>
                </div> -->
            </div>

        </div>
    </div>
</span>